/*
 * GLOBAL RESPONSIVE STYLES
 */
@media (max-width: 767px) {
    nav.top-menu {
        left: 0px !important;
    }
    nav.top-menu .menu {
        padding: 21px 15px;
    }
    nav.top-menu .menu-icon-container + .menu {
        margin-left: 65px;
    }
    nav.top-submenu, .top-submenu {
        padding: 10px 10px 0px 10px;
    }
    nav.top-submenu.top-submenu-with-background, .top-submenu.top-submenu-with-background {
        margin: -15px -15px 15px -15px;
    }
    nav.left-menu {
        -webkit-transform: translateX(-240px);
            -ms-transform: translateX(-240px);
             -o-transform: translateX(-240px);
                transform: translateX(-240px);
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        transition: -webkit-transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
    }
    nav.left-menu + .main-container {
        margin-left: 0px;
    }
    .menu-static nav.top-menu {
        margin-left: 0px !important;
        z-index: 40;
        position: relative;
    }
    .page-content {
        padding: 15px;
        margin-left: 0px !important;
    }
    .panel {
        margin-bottom: 15px;
    }
    .panel.panel-with-sidebar:before {
        display: none;
    }
    .panel.panel-with-sidebar .panel-heading, .panel.panel-with-sidebar .panel-body, .panel.panel-with-sidebar .panel-footer {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .panel.panel-with-sidebar .panel-sidebar {
        float: none !important;
        border-right: none !important;
        border-left: none !important;
        width: auto;
        border-bottom: 1px solid #dfe4ed;
        margin-bottom: 0px !important;
    }
   
}

@media (max-width: 991px) {
    
     .single-page-block .single-page-block-inner.loginPanel{
    max-width:100%;
    }
    .
    .sidebar-large.panel {
        margin-bottom: 15px;
    }
    .sidebar-large.panel.panel-with-sidebar:before {
        display: none;
    }
    .sidebar-large.panel.panel-with-sidebar .panel-heading, .sidebar-large.panel.panel-with-sidebar .panel-body, .sidebar-large.panel.panel-with-sidebar .panel-footer {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .sidebar-large.panel.panel-with-sidebar .panel-sidebar {
        float: none !important;
        width: auto;
        border-bottom: 1px solid #dfe4ed;
        margin-bottom: 0px !important;
    }
}

@media (max-width: 543px) {
    nav.top-submenu.top-submenu-with-background, .top-submenu.top-submenu-with-background {
        margin: -15px -15px 10px -15px;
    }
    nav.top-menu .menu {
        padding-left: 0px;
    }
    .page-content {
        padding: 10px;
    }
    .panel {
        margin-bottom: 10px;
    }
    .panel .panel {
        margin-bottom: 20px;
    }
    .panel .panel-sidebar {
        padding: 20px !important;
    }
    .panel .panel-heading {
        padding: 20px;
    }
    .panel .panel-body {
        padding: 20px;
    }
    .panel .panel-footer {
        padding: 20px;
    }
    .panel.panel-with-borders > .panel-body {
        padding-top: 20px;
    }
    .panel.panel-with-borders > .panel-body {
        padding-top: 20px;
    }
    .mode-superclean .top-submenu, .mode-superclean .top-submenu.top-submenu-with-background {
        padding-left: 20px;
        padding-right: 20px;
    }
}
