/*
 * GLOBAL STYLES
 */
html {
    font-size: 14px;
    overflow-x: hidden;
    width: 100%;

}

body {
    font-family: 'proximanova-regular';
    background: #fff;
    color: #000;
    overflow-x: hidden;
    width: 100%;
    font-weight:300;
}

a {
    color:#0C84CC;
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    outline:none;
}

a:hover, a:focus {
    color: #0C84CC;
    text-decoration: none;
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    outline:none;
}
p{
    color:#000;
}
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.custom-scroll {
    overflow: auto;
}

.messaging-img {
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin: 0px 5px 10px 0px;
    max-width: 200px;
}

.media-object {
    margin: 0px 0px 20px 0px;
    max-width: 500px;
}

.media-object:last-child {
    margin-bottom: 13px;
}

.donut-list li {
    margin-bottom: 9px;
}

.heading-buttons {
    margin-top: -6px;
}

/*
 * PAGE CONTENT
 */
.page-content {
    padding: 25px;
}

.table colgroup [class^="col-"] {
    float: none;
}

pre {
    background: #f2f4f8;
    color: #514d6a;
    padding: 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

/*
 * MAIN BACKDROP
 */
.main-backdrop {
    position: fixed;
    z-index: 50;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #24222f;
    opacity: 0;
    visibility: hidden;
    display: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.main-backdrop.main-backdrop-showed {
    opacity: .3;
    visibility: visible;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
    .main-backdrop {
        display: block;
    }
}

/*
 * TOP MENU
 */
nav.top-menu {
    height: 100px;
    background: #ffffff;
    border-bottom: none;
    z-index: 110;
    position: statis;
    top: 0px;
    left: 0px;
    right: 0px;
}
nav.top-menu:after{
    content:"";
    display: block;
    clear:both;
}
nav.top-menu:before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1px;
    height: 100%;
    background: #ffffff;
}

nav.top-menu + .page-content {
    margin-top:20px;
}

nav.top-menu .menu-icon-container {
    font-size: 27px;
    float: left;
    margin: 25px 0px 0px 20px;
}

nav.top-menu .menu {
    height: 100px;
    padding: 20px 0;
    border-bottom: 1px solid #dfe4ed;
}

nav.top-menu .menu .menu-user-block {
    float: right;
}

nav.top-menu .menu .menu-info-block {
    margin-right: 80px;
}

nav.top-menu .menu .menu-info-block .left {
    float: left;
}

nav.top-menu .menu .menu-info-block .left .header-buttons {
    margin-top: 9px;
}

@media (max-width: 543px) {
    nav.top-menu .menu .menu-info-block .left .header-buttons .dropdown-inline-button {
        padding-right: 0px;
    }
}

nav.top-menu .menu .menu-info-block .right {
    float: right;
}

nav.top-menu .menu .search-block {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 200px;
}

nav.top-menu .menu .search-block .form-control {
    min-width: 200px;
}

nav.top-menu .menu .search-block:hover {
    width: 300px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav.top-menu .menu .search-block:hover .form-control {
    width: 100%;
}

nav.top-menu .dropdown-inline-button {
    padding: 0px 15px;
}

.search-block {
    position: relative;
}

.search-block .form-input-icon > i {
    margin-top: 9px;
}

.search-block .search-block-submit {
    position: absolute;
    top: -1px;
    right: 0px;
    height: 38px;
    width: 38px;
    background: none;
    border: none;
    z-index: 4;
    cursor: pointer;
}

.search-block .search-block-submit:focus, .search-block .search-block-submit:active {
    outline: none !important;
}

/*
 * LEFT MENU
 */
nav.left-menu {
    position: fixed;
    z-index: 100;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 240px;
    background: #ffffff;
    outline: none;
    border-right: 1px solid #dfe4ed;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
}

nav.left-menu + * + .page-content {
    margin-left: 240px;
}

nav.left-menu + nav.top-menu {
    left: 240px;
}

nav.left-menu .jspScrollable .jspTrack {
    left: -5px !important;
}

nav.left-menu .label {
    font-size: 80%;
}

nav.left-menu .logo-container {
    padding: 21px 25px 0px;
    width: 240px;
    height: 80px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #dfe4ed;
}

nav.left-menu .logo-container .logo {
    display: block;
    max-width: 105px;
    height: 37px;
    margin-left: -3px;
}

nav.left-menu .logo-container .logo img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

nav.left-menu .logo-container .logo img.logo-inverse {
    display: none;
}

nav.left-menu .left-menu-inner {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    outline: none !important;
}

nav.left-menu .left-menu-list-root {
    margin: 15px 0px;
}

nav.left-menu .left-menu-list li {
    display: block;
}

nav.left-menu .left-menu-list li .left-menu-label {
    float: right;
    margin: 3px 0px 0px 0px;
}

nav.left-menu .left-menu-list li.left-menu-list-active .left-menu-link {
    color: #24222f;
    background: #f2f4f8;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

nav.left-menu .left-menu-list li.left-menu-list-active .left-menu-link .left-menu-link-icon {
    color: #24222f !important;
}

nav.left-menu .left-menu-list li.left-menu-list-opened {
    background: #f2f4f8;
}

nav.left-menu .left-menu-list li.left-menu-list-opened > .left-menu-link {
    color: #24222f !important;
}

nav.left-menu .left-menu-list li.left-menu-list-opened > .left-menu-link .left-menu-link-icon {
    color: #24222f !important;
}

nav.left-menu .left-menu-list li .left-menu-link {
    display: block;
    padding: 10px 25px;
    font-weight: 600;
    color: #827ca1;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

nav.left-menu .left-menu-list li .left-menu-link:hover {
    background: #f2f4f8;
    color: #24222f;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

nav.left-menu .left-menu-list li .left-menu-link:hover .left-menu-link-icon {
    color: #827ca1;
}

nav.left-menu .left-menu-list li .left-menu-link .left-menu-link-icon {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    width: 22px;
    font-size: 1rem;
    color: #bbb8cb;
}

nav.left-menu .left-menu-list li .left-menu-item {
    display: block;
    padding: 10px 25px;
    color: #827ca1;
}

nav.left-menu .left-menu-list li .left-menu-item .label {
    margin-right: 5px;
}

nav.left-menu .left-menu-list li.left-menu-list-submenu > .left-menu-link {
    position: relative;
}

nav.left-menu .left-menu-list li.left-menu-list-submenu > .left-menu-link:after {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: block;
    content: '';
    width: 0px;
    height: 0px;
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent #d2d9e5;
    border-style: solid;
    position: absolute;
    top: 17px;
    right: 20px;
}

nav.left-menu .left-menu-list li.left-menu-list-submenu .left-menu-list {
    -webkit-transition: background 0s;
    -o-transition: background 0s;
    transition: background 0s;
    display: none;
    background: #f2f4f8;
}

nav.left-menu .left-menu-list li.left-menu-list-submenu .left-menu-list .left-menu-link {
    font-weight: 400 !important;
}

nav.left-menu .left-menu-list li.left-menu-list-submenu.left-menu-list-opened > .left-menu-link:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}

nav.left-menu .left-menu-list li.left-menu-list-separator {
    -webkit-transition: background 0s;
    -o-transition: background 0s;
    transition: background 0s;
    background: #dfe4ed;
    height: 1px;
    margin: 10px 20px;
    padding: 0px;
}

nav.left-menu .left-menu-list li.left-menu-list-disabled {
    opacity: .6;
}

nav.left-menu .left-menu-list li.left-menu-list-disabled .left-menu-link {
    color: #827ca1 !important;
    background: none !important;
    cursor: default;
}

nav.left-menu.left-menu-showed {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
         -o-transform: translateX(0px);
            transform: translateX(0px);
}

nav.left-menu .left-menu-block .left-menu-block-item {
    margin-bottom: 10px;
}

/*
 * PANELS
 */
.page-content-inner > .panel:last-child {
    margin-bottom: 0px;
}

.panel {
    background: #ffffff;
    border: 1px solid #dfe4ed;
    padding: 15px;
    margin-bottom: 25px;
}

.panel .panel:last-child {
    margin-bottom: 0px;
}

.panel .panel-heading {
    padding:0;
}

.panel .panel-heading + .panel-body {
    padding-top: 0px;
}

.panel .panel-heading h1:last-child, .panel .panel-heading h2:last-child, .panel .panel-heading h3:last-child, .panel .panel-heading h4:last-child, .panel .panel-heading h5:last-child, .panel .panel-heading h6:last-child,
.panel .panel-heading .h1:last-child, .panel .panel-heading .h2:last-child, .panel .panel-heading .h3:last-child, .panel .panel-heading .h4:last-child, .panel .panel-heading .h5:last-child, .panel .panel-heading .h6:last-child {
    margin-bottom: 0px;
}

.panel .panel-heading .dropdown-inline-button {
    padding: 0px;
}

.panel .panel-body {
    padding: 25px;
}

.panel .panel-body + .panel-footer {
    padding-top: 0px;
}

.panel .panel-footer {
    padding: 25px;
}

.panel.panel-with-borders > .panel-heading {
    border-bottom: 1px solid #dfe4ed;
}

.panel.panel-with-borders > .panel-body {
    padding-top: 25px;
}

.panel.panel-with-borders > .panel-footer {
    border-top: 1px solid #dfe4ed;
    margin-top: -1px;
    padding-top: 25px;
}

.panel.panel-with-sidebar {
    position: relative;
}

.panel.panel-with-sidebar:before {
    content: '';
    display: block;
    width: 1px;
    background: #dfe4ed;
    position: absolute;
    left: 240px;
    top: 0px;
    height: 100%;
    z-index: 0;
}

.panel.panel-with-sidebar:after {
    display: table;
    clear: both;
    content: "";
}

.panel.panel-with-sidebar .panel-sidebar {
    float: left;
    width: 240px;
    padding: 25px;
    margin-bottom: -25px;
}

.panel.panel-with-sidebar .panel-heading, .panel.panel-with-sidebar .panel-body, .panel.panel-with-sidebar .panel-footer {
    margin-left: 240px;
}

.panel.panel-with-sidebar.panel-with-right-sidebar:before {
    left: auto;
    right: 240px;
}

.panel.panel-with-sidebar.panel-with-right-sidebar .panel-sidebar {
    float: right;
    border-right: 0px;
}

.panel.panel-with-sidebar.panel-with-right-sidebar .panel-heading, .panel.panel-with-sidebar.panel-with-right-sidebar .panel-body, .panel.panel-with-sidebar.panel-with-right-sidebar .panel-footer {
    margin-left: 0px;
    margin-right: 240px;
}

.sidebar-large.panel {
    position: relative;
}

.sidebar-large.panel:before {
    content: '';
    display: block;
    width: 1px;
    background: #dfe4ed;
    position: absolute;
    left: 300px;
    top: 0px;
    height: 100%;
}

.sidebar-large.panel.panel-with-sidebar .panel-sidebar {
    float: left;
    width: 300px;
    padding: 25px;
    margin-bottom: -25px;
}

.sidebar-large.panel.panel-with-sidebar .panel-heading, .sidebar-large.panel.panel-with-sidebar .panel-body, .sidebar-large.panel.panel-with-sidebar .panel-footer {
    margin-left: 300px;
}

.sidebar-large.panel.panel-with-sidebar.panel-with-right-sidebar:before {
    left: auto;
    right: 300px;
}

.sidebar-large.panel.panel-with-sidebar.panel-with-right-sidebar .panel-sidebar {
    float: right;
}

.sidebar-large.panel.panel-with-sidebar.panel-with-right-sidebar .panel-heading, .sidebar-large.panel.panel-with-sidebar.panel-with-right-sidebar .panel-body, .sidebar-large.panel.panel-with-sidebar.panel-with-right-sidebar .panel-footer {
    margin-left: 0px;
    margin-right: 300px;
}

/*
 * AVATAR
 */
.avatar {
    width: 37px;
    height: 37px;
    background-color: #f2f4f8;
    border-color: #dfe4ed;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 500px;
            border-radius: 500px;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*
 * ANIMATE MENU BUTTON
 */
.animate-menu-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    outline: none;
}

.animate-menu-button div {
    margin: -1px 4px 0;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    height: 3px;
    background: #bbb8cb;
    -webkit-transition: background .2s, -webkit-transform .2s;
    transition: background .2s, -webkit-transform .2s;
    -o-transition: transform .2s, background .2s, -o-transform .2s;
    transition: transform .2s, background .2s;
    transition: transform .2s, background .2s, -webkit-transform .2s, -o-transform .2s;
}

.animate-menu-button div:before, .animate-menu-button div:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background: #bbb8cb;
    content: "";
}

.animate-menu-button div:before {
    top: -7px;
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
         -o-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: width .2s, top .2s, -webkit-transform .2s;
    transition: width .2s, top .2s, -webkit-transform .2s;
    -o-transition: transform .2s, width .2s, top .2s, -o-transform .2s;
    transition: transform .2s, width .2s, top .2s;
    transition: transform .2s, width .2s, top .2s, -webkit-transform .2s, -o-transform .2s;
}

.animate-menu-button div:after {
    bottom: -7px;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
         -o-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: width .2s, bottom .2s, -webkit-transform .2s;
    transition: width .2s, bottom .2s, -webkit-transform .2s;
    -o-transition: transform .2s, width .2s, bottom .2s, -o-transform .2s;
    transition: transform .2s, width .2s, bottom .2s;
    transition: transform .2s, width .2s, bottom .2s, -webkit-transform .2s, -o-transform .2s;
}

.animate-menu-button.active div {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
    background: transparent;
}

.animate-menu-button.active div:before, .animate-menu-button.active div:after {
    width: 97%;
}

.animate-menu-button.active div:before {
    top: 0px;
    -webkit-transform: translateX(-2px) translateY(8px) rotate(45deg);
        -ms-transform: translateX(-2px) translateY(8px) rotate(45deg);
         -o-transform: translateX(-2px) translateY(8px) rotate(45deg);
            transform: translateX(-2px) translateY(8px) rotate(45deg);
}

.animate-menu-button.active div:after {
    bottom: 0px;
    -webkit-transform: translateX(-2px) translateY(-8px) rotate(-45deg);
        -ms-transform: translateX(-2px) translateY(-8px) rotate(-45deg);
         -o-transform: translateX(-2px) translateY(-8px) rotate(-45deg);
            transform: translateX(-2px) translateY(-8px) rotate(-45deg);
}

/*
 * BREADCRUMB
 */
.breadcrumb {
    -webkit-border-radius: 0px;
            border-radius: 0px;
    background: none;
}

.breadcrumb > li:before {
    display: none;
}

.breadcrumb > li:after {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #bbb8cb;
    content: "/";
}

.breadcrumb > li:last-child:after {
    display: none;
}

/*
 * TOP SUBMENU
 */
nav.top-submenu, .top-submenu {
    margin-bottom: 25px;
}

nav.top-submenu h1, nav.top-submenu h2, nav.top-submenu h3, nav.top-submenu h4, nav.top-submenu h5, nav.top-submenu h6,
nav.top-submenu .h1, nav.top-submenu .h2, nav.top-submenu .h3, nav.top-submenu .h4, nav.top-submenu .h5, nav.top-submenu .h6, .top-submenu h1, .top-submenu h2, .top-submenu h3, .top-submenu h4, .top-submenu h5, .top-submenu h6,
.top-submenu .h1, .top-submenu .h2, .top-submenu .h3, .top-submenu .h4, .top-submenu .h5, .top-submenu .h6 {
    margin-bottom: 11px;
}

nav.top-submenu .breadcrumb, .top-submenu .breadcrumb {
    padding: 0px;
    margin: 0px;
}

nav.top-submenu.top-submenu-with-background, .top-submenu.top-submenu-with-background {
    background: #ffffff;
    padding: 25px;
    margin: -25px -25px 25px -25px;
    border-bottom: 1px solid #dfe4ed;
}

/*
 * SUPERCLEAN MODE
 */
.mode-superclean {
    background: #ffffff;
}

.mode-superclean .page-content {
    padding: 0px;
    background: #eceff4;
}

.mode-superclean .single-page-block {
    background: #ffffff;
}

.mode-superclean .panel {
    border: 0px;
    -webkit-border-radius: 0px;
            border-radius: 0px;
}

.mode-superclean .top-submenu {
    padding: 0px 25px;
}

.mode-superclean .top-submenu.top-submenu-with-background {
    padding: 25px;
    margin: 0px 0px 25px 0px;
}

.mode-superclean .dashboard-container {
    padding: 25px 0px 1px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .mode-superclean .dashboard-container {
        padding-top: 15px;
    }
}

@media (max-width: 543px) {
    .mode-superclean .dashboard-container {
        padding-top: 10px;
    }
}

.mode-superclean .widget {
    -webkit-border-radius: 0px;
            border-radius: 0px;
}

.mode-superclean .widget .widget-header {
    -webkit-border-radius: 0px;
            border-radius: 0px;
}

.mode-superclean .chart-css-animations, .mode-superclean .step-block {
    -webkit-border-radius: 0px;
            border-radius: 0px;
}

/*
 * FIXED MENU MODE
 */
.menu-static .page-content {
    margin-top: 0px !important;
}

.menu-static nav.top-menu {
    position: relative;
    left: 0px !important;
}

.menu-static nav.left-menu + nav.top-menu {
    margin-left: 240px;
}

/*
 * SINGLE PAGE BLOCK
 */
.single-page-block {
    padding: 0;
}

.single-page-block .single-page-block-inner {
    max-width: 300px;
    margin: 0px auto;
    background: #fafafa;
    padding: 40px 20px 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: none;
}
.single-page-block .single-page-block-inner.loginPanel{
    max-width:55%;
    padding: 50px 30px 0px 0px; 
    margin:5% auto;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.15);
    font-size:16px;
}
.single-page-block .avatar {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    font-family: proximanova-regular;
}

/*
 * EXAMPLES
 */
.layout-grid-example {
    margin-left: -10px;
}

.layout-grid-example .row div {
    background: #f2f4f8;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    border-left: 10px solid #ffffff;
}

.example-icons-block {
    padding: 0px 0px 30px;
    text-align: center;
}

.example-icons-block h2 {
    margin-top: 50px;
}

.example-icons-block h2:first-child {
    margin-top: 30px;
}

.example-icons-block p {
    height: 30px;
}

.example-icons-block .tooltip {
    font-size: 18px;
}

.example-icons-block li {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 36px;
    padding: 10px 30px;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #eceff4;
    margin: 10px;
}

.example-icons-block li:hover {
    background: #514d6a;
    color: #ffffff;
}
