/*
 * DROPDOWNS
 */
.dropdown, .dropup {
    display: inline-block;
}

.dropup .dropdown-menu {
    bottom: 115%;
}

.dropdown-menu {
    border-color: #d2d9e5;
    top: 115%;
    padding: 8px 0px;
}

.dropdown-menu .dropdown-icon {
    margin-right: 5px;
}

.dropdown-menu .dropdown-divider {
    background-color: #d2d9e5;
}

.dropdown-menu .dropdown-header {
    padding: 7px 15px;
    color: #514d6a;
    font-size: 14px;
    font-weight: 600;
}

.dropdown-menu .dropdown-item {
    color: #827ca1;
    background: none;
    padding: 3px 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dropdown-menu .dropdown-item a {
    color: #827ca1;
}

.dropdown-menu .dropdown-item a:hover, .dropdown-menu .dropdown-item a:active {
    background: none;
    color: #0088ff;
}

.dropdown-menu .dropdown-item.disabled {
    cursor: not-allowed;
    color: #d2d9e5 !important;
}

.dropdown-menu .dropdown-item.disabled a {
    color: #d2d9e5 !important;
    cursor: not-allowed;
}

.dropdown-menu .dropdown-item.active {
    background: #f2f4f8 !important;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: none;
    color: #0088ff;
}

.dropdown-animate {
    overflow: hidden;
}

.dropdown-animate > .dropdown-item, .dropdown-animate .dropdown-header {
    -webkit-animation-name: dropdown-slide-left;
         -o-animation-name: dropdown-slide-left;
            animation-name: dropdown-slide-left;
    -webkit-animation-duration: .5s;
         -o-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.dropdown-animate > .dropdown-item:nth-child(1), .dropdown-animate .dropdown-header:nth-child(1) {
    -webkit-animation-delay: .02s;
         -o-animation-delay: .02s;
            animation-delay: .02s;
}

.dropdown-animate > .dropdown-item:nth-child(2), .dropdown-animate .dropdown-header:nth-child(2) {
    -webkit-animation-delay: .04s;
         -o-animation-delay: .04s;
            animation-delay: .04s;
}

.dropdown-animate > .dropdown-item:nth-child(3), .dropdown-animate .dropdown-header:nth-child(3) {
    -webkit-animation-delay: .06s;
         -o-animation-delay: .06s;
            animation-delay: .06s;
}

.dropdown-animate > .dropdown-item:nth-child(4), .dropdown-animate .dropdown-header:nth-child(4) {
    -webkit-animation-delay: .08s;
         -o-animation-delay: .08s;
            animation-delay: .08s;
}

.dropdown-animate > .dropdown-item:nth-child(5), .dropdown-animate .dropdown-header:nth-child(5) {
    -webkit-animation-delay: .10s;
         -o-animation-delay: .10s;
            animation-delay: .10s;
}

.dropdown-animate > .dropdown-item:nth-child(6), .dropdown-animate .dropdown-header:nth-child(6) {
    -webkit-animation-delay: .12s;
         -o-animation-delay: .12s;
            animation-delay: .12s;
}

.dropdown-animate > .dropdown-item:nth-child(7), .dropdown-animate .dropdown-header:nth-child(7) {
    -webkit-animation-delay: .14s;
         -o-animation-delay: .14s;
            animation-delay: .14s;
}

.dropdown-animate > .dropdown-item:nth-child(8), .dropdown-animate .dropdown-header:nth-child(8) {
    -webkit-animation-delay: .16s;
         -o-animation-delay: .16s;
            animation-delay: .16s;
}

.dropdown-animate > .dropdown-item:nth-child(9), .dropdown-animate .dropdown-header:nth-child(9) {
    -webkit-animation-delay: .18s;
         -o-animation-delay: .18s;
            animation-delay: .18s;
}

.dropdown-animate > .dropdown-item:nth-child(10), .dropdown-animate .dropdown-header:nth-child(10) {
    -webkit-animation-delay: .20s;
         -o-animation-delay: .20s;
            animation-delay: .20s;
}

.open > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-bottom;
         -o-animation-name: dropdown-slide-bottom;
            animation-name: dropdown-slide-bottom;
    -webkit-animation-duration: .15s;
         -o-animation-duration: .15s;
            animation-duration: .15s;
    -webkit-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: .01s;
         -o-animation-delay: .01s;
            animation-delay: .01s;
    display: block;
}

.open > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-bottom;
         -o-animation-name: dropdown-slide-bottom;
            animation-name: dropdown-slide-bottom;
    -webkit-animation-duration: .15s;
         -o-animation-duration: .15s;
            animation-duration: .15s;
    -webkit-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: .05s;
         -o-animation-delay: .05s;
            animation-delay: .05s;
    display: block;
}

.open.dropup > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-top;
         -o-animation-name: dropdown-slide-top;
            animation-name: dropdown-slide-top;
}

.dropdown.dropdown-avatar .dropdown-toggle {
    display: inline-block;
    position: relative;
    padding-right: 18px;
}

.dropdown.dropdown-avatar .dropdown-toggle:after {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -1px;
    color: #bbb8cb;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

 .dropdown.menu-dropdown .dropdown-toggle:after{
    display: none;
 }
.dropdown.dropdown-avatar .dropdown-toggle:hover:after {
    color: #827ca1;
}

.dropdown .dropdown-inline-button {
    display: inline-block;
    color: #827ca1;
    font-weight: 600;
}

.dropdown .dropdown-inline-button .dropdown-inline-button-icon {
    color: #bbb8cb;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-right: 5px;
}

.dropdown .dropdown-inline-button:after {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #bbb8cb;
}

.dropdown .dropdown-inline-button:hover, .dropdown .dropdown-inline-button:focus, .dropdown .dropdown-inline-button:active {
    color: #24222f;
}

.dropdown .dropdown-inline-button:hover .dropdown-inline-button-icon, .dropdown .dropdown-inline-button:focus .dropdown-inline-button-icon, .dropdown .dropdown-inline-button:active .dropdown-inline-button-icon {
    color: #827ca1;
}

.dropdown .dropdown-inline-button:hover:after, .dropdown .dropdown-inline-button:focus:after, .dropdown .dropdown-inline-button:active:after {
    color: #827ca1;
}

.dropdown.open .dropdown-inline-button {
    color: #24222f;
}

.dropdown.open .dropdown-inline-button .dropdown-inline-button-icon {
    color: #514d6a;
}

@-webkit-keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
