<nav class="top-menu">
  <div class="container">
    <div class="menu">
         <div class="menu-user-block">
         <a class="icon-link pr visible-sxs hide-sm" href="/notification"><i class="fa fa-bell" aria-hidden="true"></i>

        <span class="label pa" ng-class="notificationclass" ng-model="notificationclass">{{notificationcount}}</span> 


         <span class="hide">Notifications</span></a>

            <div class="dropdown menu-dropdown">
				<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                   <i class="fa fa-bars"></i>
                </a>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="/storyview">Stories </a>
                    <a class="dropdown-item" href="/profileview">Profile</a>
                    <a class="dropdown-item" href="/performance">Performance</a>
                    <a class="dropdown-item pr hide-xs" href="/notification">
                      <i class="fa fa-bell" aria-hidden="true"></i>

                        <span class="label pa" ng-class="notificationclass" ng-model="notificationclass">{{notificationcount}}</span> 

                        <span class="hide">Notifications</span></a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out hide-xs"></i><span class="hide visible-xs">Signout</span></a>
                </ul>
            </div>
        </div>
      <div class="menu-info-block">
        <div class="left">
          <div class="text-center"><img src="img/unipaperlogo.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</nav>