
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>The University Paper</title>

<link href="" rel="shortcut icon">

<!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Bootstarp Styles -->
<link rel="stylesheet" type="text/css" href="assets/vendors/bootstrap/dist/css/bootstrap.min.css">

<!-- Clean UI Styles -->
<link rel="stylesheet" type="text/css" href="assets/common/css/source/main.css">

<!-- Theme Styles -->
<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- Scripts -->
<script src="assets/vendors/jquery/jquery.min.js"></script>   
<script src="libs/tether.min.js"></script>

<script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Scripts -->
<script src="libs/iws6ohy.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script src="libs/lock.min.js"></script>


<!-- AngularJS core -->
<script type="text/javascript" src="libs/angular.1.5.8.js"></script>

<!-- Angular cookie wrapper library for client cookies -->
<script type="text/javascript" src="libs/angular-cookies.1.5.8.js"></script>

<!-- Angular's Router Library for SPA -->
<script type="text/javascript" src="libs/angular-route.1.5.8.js"></script>
<script src="libs/angular-sanitize.js"></script>
<script src="libs/moment.min.js"></script>
<script src="libs/angular-moment.min.js"></script>