<!DOCTYPE html>
<html ng-app="uniPaper">

    <head lang="en">
        <% include homepagehead.ejs %>

    </head>

    <body class="single-page-block ">

        <!-- Page Content -->

        <section class="page-content">
            <div class="page-content-inner">
                <div class="container">
                    <!-- Login Form -->
                    <div class="single-page-block">
                        <div class="single-page-block-inner loginPanel" >
                        <div id="hiw-login-container"></div>
                        </div>
                    </div>
                </div>
                <!-- End -->
            </div>
        </section>

        <div class="modal fade" id="resetPassword" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Reset Password</h4>
                    </div>
                    <div class="modal-body">
                      <p>Fill in your registered email address, we will send instruction on how to reset your password.</p>
                       <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-squared btn-sm" data-dismiss="modal">Reset</button>
                        <button type="button" class="btn btn-danger btn-squared btn-sm" data-dismiss="modal">Close</button>
                    </div>

                </div>
              
            </div>  
        </div> 

        <script src="js/auth0-variables.js"> </script>
<script src="js/homeview.js"></script>
<!-- Authentication Scripts -->
<script src="services/authenticationservice.js"></script> 
    </body>
</html>