<!DOCTYPE html>
<html ng-app="unipaperApp">
  <head lang="en">
      <meta charset="UTF-8">
      <% include innerpagehead.ejs %>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>The University Paper</title>

      <link href="" rel="shortcut icon">

      <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script>window.notificationcount= <%= notificationcount %>;</script>

    <!-- Bootstarp Styles -->    
  </head>

  <body class="theme-dark" id="notificationview" ng-controller="unipaperCtrl">

    <% include header.ejs %>


    <section class="page-content">
      <div class="page-content-inner">
        <div class="container">
            <!-- Writer Notifications left Information -->
          <div class="row nav-tabs-vertical">
          	<section class="notification-lft col-sm-4 col-xs-12">
        			<div class="panel padding-0 clearfix">
          			<h2>Notifications</h2>

          			<ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" ng-repeat="notification in notifications">
                    <a class="nav-link  {{notification.notificationstatus}}" ng-class="{ active: $index == startIndex }" href="" data-toggle="tab" data-target="#notification1" role="tab" aria-expanded="true" ng-click="getNotification($index);updateNotification(notification.notifyid,$index);">
                    <span class="show notification-date">{{notification.createdAt | amUtc | amLocal | amDateFormat:'LLL'}}</span>
                    <p class="notification-heading margin-0">{{notification.subject}}</p>
                    </a>
                  </li>
                  
                </ul>                
              </div>
            </section>
            <!-- Writer Notifications right Information -->
            <section class="notification-rgt col-sm-8 col-xs-12">
              <div class="panel clearfix tab-content">
                <div class="tab-pane active" id="notification1" role="tabpanel">
                <button class="btn btn-squared btn-default btn-sm pull-right" ng-click="deleteNotifications(notificationIdvalue,notificationValue)" type="button">{{notificationDelete}}</button>
                  <h3>{{notificationSubject}}</h3>                
                  
                  <span class="show notification-date">{{notification.createdAt}}</span>
                  <div class="clearfix notification-content">
                    <p>{{notificationBody}}</p>
                  </div>    
                </div>   			
              </div>        
            </section>
            <!-- End -->
          </div>
        </div>
      </div>
    </section>
  </body>
</html>