<!DOCTYPE html>
<html ng-app="unipaperApp">
<head lang="en">
<% include innerpagehead.ejs %>
 
<script>
window.storylists= <%-JSON.stringify(storylists)%>;
window.thisweekviewsWritersCount= <%-JSON.stringify(thisweekviewsWritersCount)%>;
window.lastweekviewsWritersCount= <%-JSON.stringify(lastweekviewsWritersCount)%>;
window.alltimeviewsWritersCount= <%-JSON.stringify(alltimeviewsWritersCount)%>;

window.myarticle_alltimeviews= <%-JSON.stringify(myarticle_alltimeviews)%>;
window.myarticle_thisweekviews= <%-JSON.stringify(myarticle_thisweekviews)%>;
window.myarticle_lastweekviews= <%-JSON.stringify(myarticle_lastweekviews)%>;

</script>
<script>window.notificationcount= <%= notificationcount %>;</script>

</head>
<body class="theme-dark" ng-controller="unipaperCtrl">
  <% include header.ejs %>
<section class="page-content">
  <div class="page-content-inner">

  <div class="container">

  <div class="row"> 
    <!-- Writer performance left Information -->
    <section class="performance-lft col-md-12 col-lg-8 col-sm-12 col-xs-12">
    <p> <span style="background-color: #FFFF00">Your Stats is in beta. We’ll let you know when we’ve finished ironing out the last few bugs and you can rely on the data below being accurate. If you are experiencing any issues please contact <a href="mailto:support@unipaper.co.uk?Subject=UniPaper Writers protal" target="_top">support@unipaper.co.uk.</a></span></p>
     
      <div class="panel your-stats-block clearfix">

        <h2>Your Stats</h2>
        <div class="row text-center">
          <div class="col-sm-4 col-xs-12 padding-0 padding-xs">
            <div class="step-block sep-none">
              <div class="step-desc"> <span class="step-title"><%= storylistsCount %></span>
                <p>Articles</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 padding-0 padding-xs">
            <div class="step-block">
              <div class="step-desc"> <span class="step-title"><%= totalviewsCount %></span>
                <p>Views</p>
                <p><a href="#" title="" class="link-underlined link-green" id="firstview">How to get more views</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 padding-0 padding-xs">
            <div class="step-block">
              <div class="step-desc"> <span class="step-title"><%= totalearned %></span>
                <p>Earned</p>
                <p><a href="#" title="" class="link-underlined link-green" id="secondview">How to get Paid</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <h3 class="proximabold">Your Stories</h3>
        <div class="nav-tabs-horizontal your-story-tab">  

          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#bperformance" role="tab" aria-expanded="true">Best Performance</a> </li>
            <li class="nav-item"> <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#mrecent" role="tab" aria-expanded="false">Most Recent</a> </li>
          </ul>
          <div class="tab-content">
            <div class="clearfix">
              <div class="col-sm-8 col-xs-6"></div>
              <div class="col-sm-2 col-xs-3 your-tabhead">Views</div>
              <div class="col-sm-2 col-xs-3 your-tabhead">Earned</div>
            </div>
            <div class="tab-pane active" id="bperformance" role="tabpanel" aria-expanded="true">
              <ol class="clearfix border-list padding-0 margin-0">
                <li class="clearfix" ng-repeat="story in storylists | orderBy:'-views'">
                  <div class="col-sm-8 col-xs-12">
                    <h4>{{story.title}}</h4>
                    <p class="proximalight">You have {{story.leftviews}} views left to 1,000 to start earning</p>
                  </div>
                  <div class="col-sm-2 col-xs-12"> <span class="views-value" data-title="Views">{{story.views}}</span> </div>
                  <div class="col-sm-2 col-xs-12"> <span class="earned-amount" data-title="Earned">{{story.earned }}</span> </div>
                </li>
              </ol>
            </div>
            <div class="tab-pane" id="mrecent" role="tabpanel" aria-expanded="false">
              <ol class="clearfix border-list padding-0 margin-0">              
                <li class="clearfix" ng-repeat="story in storylists">
                  <div class="col-sm-8 col-xs-12">
                    <h4>{{story.title}}</h4>
                    <p class="proximalight">You have {{story.leftviews}} views left to 1,000 to start earning</p>
                  </div>
                  <div class="col-sm-2 col-xs-12"> <span class="views-value" data-title="Views">{{story.views}}</span> </div>
                  <div class="col-sm-2 col-xs-12"> <span class="earned-amount" data-title="Earned">{{story.earned}}</span> </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Writer performance right Information -->
    <section class="performance-rgt col-md-12 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel clearfix">
      <h3 class="proximabold">Leaderboard</h3>
      <p> <span style="background-color: #FFFF00">Your Stats is in beta. We’ll let you know when we’ve finished ironing out the last few bugs and you can rely on the data below being accurate. If you are experiencing any issues please contact <a href="mailto:support@unipaper.co.uk?Subject=UniPaper Writers protal" target="_top">support@unipaper.co.uk.</a></span></p>
     
      <div class="nav-tabs-horizontal">

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"> <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tweek" role="tab" aria-expanded="true">This Week</a> </li>
          <li class="nav-item"> <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#lweek" role="tab" aria-expanded="false">Last Week</a> </li>
          <li class="nav-item"> <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#alltime" role="tab" aria-expanded="false">All Time</a> </li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane active" id="tweek" role="tabpanel" aria-expanded="true">
            <ol class="clearfix leaderboard-list padding-0 margin-0">

             <li class="clearfix" ng-repeat="thisweekcount in myarticle_thisweekviews | orderBy:'-thisweekviewscount' | limitTo : 10">
                <div class="col-sm-4 text-center col-xs-5"> <span class="avatar" > <img src="<%= profilepictureurl %>" alt="leader board name" err-SRC="img/pro-pic.png" > </span> </div>
                <div class="col-sm-8 padding-0 coerr-SRC="img/pro-pic.png" l-xs-7">
                  <h4>You</h4>
                  <p class="proximalight">{{thisweekcount.thisweekviewscount}}</p>
                </div>
              </li>   

              <li class="clearfix" ng-repeat="thisweekcount in thisweekviewsWritersCount | orderBy:'-thisweekviewscount' | limitTo : 10">
                <div class="col-sm-4 text-center col-xs-5"> <span class="avatar" > <img src="img/pro-img.png" alt="leader board name"> </span> </div>
                <div class="col-sm-8 padding-0 col-xs-7">
                  <h4>{{thisweekcount.writername}}</h4>
                  <p class="proximalight">{{thisweekcount.thisweekviewscount}}</p>
                </div>
              </li>        
            </ol>
          </div>
          <div class="tab-pane" id="lweek" role="tabpanel" aria-expanded="true">
            <ol class="clearfix leaderboard-list padding-0 margin-0">
            <li class="clearfix" ng-repeat="lastweekcount in myarticle_lastweekviews | orderBy:'-lastweekviewscount' | limitTo : 10">
                <div class="col-sm-4 text-center col-xs-5"> <span class="avatar" > <img src="<%= profilepictureurl %>" alt="leader board name" err-SRC="img/pro-pic.png" > </span> </div>
                <div class="col-sm-8 padding-0 col-xs-7">
                  <h4>You</h4>
                  <p class="proximalight">{{lastweekcount.lastweekviewscount}}</p>
                </div>
              </li>  
              <li class="clearfix" ng-repeat="lastweekcount in lastweekviewsWritersCount | orderBy:'-lastweekviewscount' | limitTo : 10">
                <div class="col-sm-4 text-center col-xs-5"> <span class="avatar" > <img src="img/pro-img.png" alt="leader board name"> </span> </div>
                <div class="col-sm-8 padding-0 col-xs-7">
                  <h4>{{lastweekcount.writername}}</h4>
                  <p class="proximalight">{{lastweekcount.lastweekviewscount}}</p>
                </div>
              </li>          
            </ol>
          </div>

          <div class="tab-pane" id="alltime" role="tabpanel" aria-expanded="true">
            <ol class="clearfix leaderboard-list padding-0 margin-0">

             <li class="clearfix" ng-repeat="alltimecount in myarticle_alltimeviews | orderBy:'-alltimeviewcount' | limitTo : 10">
                <div class="col-sm-4 text-center col-xs-5"> <span class="avatar" > <img src="<%= profilepictureurl %>" alt="leader board name" err-SRC="img/pro-pic.png" > </span> </div>
                <div class="col-sm-8 padding-0 col-xs-7">
                  <h4>You</h4>
                  <p class="proximalight">{{alltimecount.alltimeviewcount}}</p>
                </div>
              </li>     
              
              <li class="clearfix" ng-repeat="alltimecount in alltimeviewsWritersCount | orderBy:'-alltimeviewcount' | limitTo : 10">
                <div class="col-sm-4 text-center col-xs-5"> <span class="avatar" > <img src="img/pro-img.png" alt="leader board name"> </span> </div>
                <div class="col-sm-8 padding-0 col-xs-7">
                  <h4>{{alltimecount.writername}}</h4>
                  <p class="proximalight">{{alltimecount.alltimeviewcount}}</p>
                </div>
              </li>          
            </ol>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
</div>
</div>
</div>
</section>


<div class="modal fade modal-size-small in" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                   <div class="modal-body">
                    <p>Bonuses are given when you hit 50,000 page views. Once you've got the the magic number a member of the team at head office will get in contact via email to arrange payment, so make sure you have the correct email in your profile.</p>
                    <p> If you don't, click on the Profile tab to change it.</p>
                    <a data-dismiss="modal" class="btn btn-default btn-squared btn-default" href="#">Exit</a>
                </div>    
               
            </div>
        </div>
    </div>

    <div class="modal fade modal-size-small in" id="welcomeModal1" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                
                 <div class="modal-body">
                   <p>If you've written an excellent story you should want to shout about it! </p>
                   <p>Share it on your social media, tagging anyone who you think might be interested. You could also ask your friends to share it as well!<p>
                  <a data-dismiss="modal" class="btn btn-default btn-squared btn-default" href="#">Exit</a> 
                  </div>
               
            </div>
        </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
        $('#secondview').click(function()
        {
          $("#welcomeModal").modal('show');
        });

        $('#firstview').click(function()
        {
          $("#welcomeModal1").modal('show');
        })
      });
    </script>
</body>
</html>