<!DOCTYPE html>
<html ng-app="unipaperApp">
	<head lang="en">
   		<% include innerpagehead.ejs %>
      <script>window.notificationcount= <%= notificationcount %>;</script>

   		<style>


   		</style>
	</head>

	<body id="profileview" ng-controller="unipaperCtrl">

		<% include header.ejs %>

		<section class="page-content">
			<div class="page-content-inner">
				<div class="container">
		    		<!-- Writer Profile Update -->
		    		<section class="profileUpdate">

			          	<div class="row">
			               <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
			            	<div class="clearfix">
	                      	<img ng-src = {{picturename}} src="<%= profileimage %>" class="img-thumbnail" alt="avatar" err-SRC="img/pro-pic.png" >
	                      	</div>
	                      	<div class="upload-story-image btn btn-success btn-squared btn-block">
		            	 		<input name="profilepicturefile" class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().normalFileUpload(this.files)">
			            	 	<span>Upload Image</span>
			            	 </div>
			            	 
		            	  	<!--<button ng-click="uploadFile()" class="btn btn-success btn-squared">Upload</button>-->
							<imagecropmodal visible="showImageCropModal">
								<!--<image-cropper image-url="{{imageUrl}}"
								width="640"
								height="480"
								show-controls=""
								fit-on-init="false"
								center-on-init="true"
								api="cropperApi"
								crop-callback="updateResultImage"
								action-labels="myButtonLabels"
								></image-cropper>
								-->
							</imagecropmodal>						
		        		</div>


			            	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-5">

	    				  		<form class="form-horizontal" role="form" ng-submit="profileformSubmit()">

									<input type="hidden" name="writerid" ng-model="profileform.writerid" ng-init="profileform.writerid='<%= writerid %>'" />

					                <div class="form-input-icon form-input-icon-right {{profileform.usernameerr}} ">
					                    <!--<i class="fa fa-user"></i>-->
					                    <input type="text" class="form-control" placeholder="First Name" ng-init="profileform.username='<%= username %>'" ng-model="profileform.username">
					                </div>

				                  	<div class="form-input-icon form-input-icon-right {{profileform.lastnameerr}}">
					                    <!--<i class="fa fa-user"></i>-->
					                    <input type="text" class="form-control" placeholder="Last Name" ng-init="profileform.lastname='<%= lastname %>'" ng-model="profileform.lastname">
					                </div>


					                <div class="form-input-icon form-input-icon-right {{profileform.cityerr}}">
									<label>Select Your City</label>
									<select class="form-control" ng-model="profileform.city" ng-init="profileform.city='<%= city %>'">						
        								<option ng-repeat="option in citynames | orderBy:'name'" ng-selected="profileform.city == option.name" value="{{option.name}}">{{option.name}}</option>
									</select>
									</div>

					                <div class="form-input-icon form-input-icon-right">
					                    <!--<i class="fa fa-building"></i>-->
					                    <input type="text" class="form-control" placeholder="University Name"  ng-init="profileform.universityname='<%= universityname %>'" ng-model="profileform.universityname">
					                </div>					            			                

					                <div class="form-input-icon form-input-icon-right {{profileform.emailerr}}">
					                    <!--<i class="fa fa-envelope"></i>-->
					                    <input type="email" class="form-control" placeholder="Email" ng-init="profileform.email='<%= email %>'" ng-model="profileform.email" placeholder="Email">
					                </div>

				                  	<div class="form-input-icon form-input-icon-right {{profileform.paypalemailerr}}">
					                    <!--<i class="fa fa-envelope"></i>-->
					                    <input type="email" class="form-control" placeholder="Paypal Email" ng-init="profileform.paypalemail='<%= paypalemail %>'" ng-model="profileform.paypalemail" placeholder="PaypalEmail">
					                </div>

					                <div class="form-input-icon form-input-icon-right {{profileform.facebooklinkserr}}">
					                    <!--<i class="fa fa-facebook"></i>-->
					                    <input type="text" class="form-control" placeholder="Facebook" ng-init="profileform.facebooklinks='<%= facebooklinks %>'" ng-model="profileform.facebooklinks">
					                </div>

					                 <div class="form-input-icon form-input-icon-right {{profileform.twitterlinkserr}}">
					                    <!--<i class="fa fa-twitter"></i>-->
					                    <input type="text" class="form-control" placeholder="Twitter" ng-init="profileform.twitterlinks='<%= twitterlinks %>'" ng-model="profileform.twitterlinks" >
					                </div>

					          		<div class="form-input-icon form-input-icon-right">
					                    <!--<i class="fa fa-comment"></i>-->
					                    <textarea class="form-control" rows="3" placeholder="About you" id="comment" ng-init="profileform.aboutyou='<%= aboutyou %>'" ng-model="profileform.aboutyou"></textarea>
					                </div>

					                <!--
									<label>Interests</label>

					                 <div class="form-group">
									  <div class="checkbox">
									    <label>
									      <input type="checkbox" name="interestnews" ng-model="profileform.interestnews" ng-checked="<%= interestnews %>">
									      News
									    </label>
									  </div>
									</div>

									 <div class="form-group">
									  <div class="checkbox">
									    <label>
									      <input type="checkbox"  name="interestsports" ng-model="profileform.interestsports" ng-checked="<%= interestsports %>">
									      Sports
									    </label>
									  </div>
									</div>


									 <div class="form-group">
									  <div class="checkbox">
									    <label>
									      <input type="checkbox"  name="interestsports" ng-model="profileform.interestentertainment" ng-checked="<%= interestentertainment %>">
									      Entertainment
									    </label>
									  </div>
									</div>
									-->
					                <a href="" class="btn btn-primary btn-squared" ng-click="profileformSubmit()">Update Profile</a> 
					                <a href="/storyview" class="btn btn-default btn-squared">Cancel</a>

				                </form>
				            </div>
			         	</div>
		              
		            </section>
		           
		   			 <!-- End -->
				</div>
			</div>
		</section>
</body>
</html>