<!DOCTYPE html>
<html ng-app="unipaperApp">
    <head lang="en">
       <% include innerpagehead.ejs %>
             <script>window.notificationcount= <%= notificationcount %>;</script>

  </head>

    <body ng-controller="unipaperCtrl">
        <% include header.ejs %>
        <% include headerwizard.ejs %>

        <section class="page-content no-padding">
            <div class="page-content-inner">
                <div class="container">
                    <!-- Writer Profile Information -->
                    <div class="steps-heading">
                        <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4>Select a story type</h4>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                        <a href="" ng-click="storytypeback()" class="btn btn-success btn-squared">Back</a>
                        </div>
                        </div>
                    </div>

                    <div class="stepsContent-panel write-story">
                        <a href="" class="btn btn-default btn-squared margin-inline" ng-class="{'btn-success': selected == 'article'}" storytype="Article" ng-click="selected='article';selectCat($event)"  class="btn btn-squared  margin-inline">Article</a>
                        <a href="" class="btn btn-default btn-squared margin-inline" ng-class="{'btn-success': selected == 'listicle'}" storytype="Listicle" ng-click="selected='listicle';selectCat($event)" class="btn btn-squared  margin-inline">Listicle</a>
                        <a href="" class="btn btn-default btn-squared margin-inline" ng-class="{'btn-success': selected == 'gallery'}" storytype="Gallery" ng-click="selected='gallery';selectCat($event)" class="btn btn-squared  margin-inline">Gallery</a>
                    </div>

                    <!-- End -->
                </div>
            </div>
        </section>
</body>
</html>