<!DOCTYPE html>
<html ng-app="unipaperApp">

  <head lang="en">
    <% include storyboardpagehead.ejs %>
    <script>window.notificationcount= <%= notificationcount %>;</script>

  </head>

  <body class="theme-dark" ng-controller="unipaperCtrl" id="storyboardlisticle">

    <% include storyboardheader.ejs %>

    <div class="container">
      <div class="wizard">
          <a class="visited">Select a story type</a>
          <a class="current">Write a story</a>
          <a>Preview and Submit story</a>
        </div>
    </div>

    <section class="page-content no-padding">
      <div class="page-content-inner">
        <div class="container">
          <!-- Writer Profile Information -->
          <div class="steps-heading">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                 <h4>Listicle</h4>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                    <a href="" ng-click="writerListicleformsubmit()" class="btn btn-info btn-squared">Save</a> 
                    <!--<a href="" class="btn btn-success btn-squared">Next</a>-->
                </div>
            </div>
             <p> Having an issue submitting? Email us at <a href="mailto:support@unipaper.co.uk?Subject=UniPaper Writers protal" target="_top">support@unipaper.co.uk</a> </p>
          </div>

          <div class="stepsContent-panel write-story">
            <div class="story-img">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <!--<img id="preview-img" src="../img/no-image.gif" alt="your image" />-->
                  <img ng-src = ../{{picturename}} src="<%= story.storypicture %>" class="img-thumbnail" alt="avatar">
                </div>

                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                  <div class="add-img">
                    <a href="#" class="upload-story-image btn" uploadfile><i class="fa fa-plus"></i></a>
                      <!--<input type="file" id="imgInput" style="display:none"  />-->
                      <input style="display:none"  name="profilepicturefile" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().normalStoryboardFileUpload(this.files)">
                  </div>

                  <imagecropmodal visible="showImageCropModal"></imagecropmodal>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <form class="form-horizontal" role="form" ng-submit="writerListicleformsubmit()" >

                <input type="hidden" ng-model="listiclearticle.storycategory" ng-init="listiclearticle.storycategory ='<%= storytype %>'"></input>                             
                <input type="hidden" ng-model="listiclearticle.storyid" ng-init="listiclearticle.storyid = '<%= story.storyid %>'">

                <div class="form-border-bot clearfix" >
                  <div class="form-group {{listiclearticle.titleerr}}">
                    <input type="text" class="form-control" placeholder="Title" ng-model="listiclearticle.title" ng-init="listiclearticle.title ='<%= story.title %>'">

                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Sub Heading" ng-model="listiclearticle.subheading" ng-init="listiclearticle.subheading ='<%= story.subheading %>'">
                  </div>

                  <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="form-group padding-top-10 margin-bottom-0  {{listiclearticle.bodycontenterr}}">     
                      <textarea id="textareaSimpleMDE" name="articlecontent" placeholder="Type and press enter" class="form-control adjustable-textarea" style="overflow: hidden; word-wrap: break-word; resize: none; height: 200px;" ng-model="listiclearticle.bodycontent" ></textarea>        
                    </div>
                  </div> 

                </div>

                <!-- Subform 1  -->
                <div class="field_wrapper_listicle" >
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle1" ng-init="listiclearticle.subtitle1 ='<%= story.subtitle1 %>'">
                    </div>


                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent1" ng-init="listiclearticle.subbodycontent1 ='<%= story.subbodycontent1 %>'"></textarea>
                    </div>                   
                  

                    <!--ngclass=" listiclearticle.subimage1 != '' ? 'fa-paperclip' : '' "-->
                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'1')" ng-model="listiclearticle.subimage1">
                        <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate1)'></i>
                        <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image1 = '<%= story.subimage1 %>'" ng-class='whatClassIsIt(image1)'></i>

                    </div>
                    
                  </div>
                </div>

                <!-- Subform 2  -->
                 <div class="field_wrapper_listicle"  style="display:none" ng-style="whatngStyle('<%= story.subtitle2 %>','<%= story.subbodycontent2 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle2" ng-init="listiclearticle.subtitle2 ='<%= story.subtitle2 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent2" ng-init="listiclearticle.subbodycontent2 ='<%= story.subbodycontent2 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'2')" ng-model="listiclearticle.subimage2">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate2)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image2 = '<%= story.subimage2 %>'" ng-class='whatClassIsIt(image2)'></i>
                    </div>
                  </div>
                </div>

                <!-- Subform 3  -->
                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle3 %>','<%= story.subbodycontent3 %>')"> 
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle3" ng-init="listiclearticle.subtitle3 ='<%= story.subtitle3 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent3" ng-init="listiclearticle.subbodycontent3 ='<%= story.subbodycontent3 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'3')" ng-model="listiclearticle.subimage3">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate3)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image3 = '<%= story.subimage3 %>'" ng-class='whatClassIsIt(image3)'></i>
                    </div>
                  </div>
                </div>

                <!-- Subform 4 -->
                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle4 %>','<%= story.subbodycontent4 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle4" ng-init="listiclearticle.subtitle4 ='<%= story.subtitle4 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent4" ng-init="listiclearticle.subbodycontent4 ='<%= story.subbodycontent4 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'4')" ng-model="listiclearticle.subimage4">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate4)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image4 = '<%= story.subimage4 %>'" ng-class='whatClassIsIt(image4)'></i>
                    </div>
                  </div>
                </div>
                <!-- Subform 5  -->

                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle5 %>','<%= story.subbodycontent5 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle5" ng-init="listiclearticle.subtitle5 ='<%= story.subtitle5 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent5" ng-init="listiclearticle.subbodycontent5 ='<%= story.subbodycontent5 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'5')" ng-model="listiclearticle.subimage5">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate5)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image5 = '<%= story.subimage5 %>'" ng-class='whatClassIsIt(image5)'></i>
                    </div>
                  </div>
                </div>

                <!-- Subform 6  -->
                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle6 %>','<%= story.subbodycontent6 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle6" ng-init="listiclearticle.subtitle6 ='<%= story.subtitle6 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent6" ng-init="listiclearticle.subbodycontent6 ='<%= story.subbodycontent6 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'6')" ng-model="listiclearticle.subimage6">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate6)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image6 = '<%= story.subimage6 %>'" ng-class='whatClassIsIt(image6)'></i>
                    </div>
                  </div>
                </div>

                <!-- Subform 7  -->
                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle7 %>','<%= story.subbodycontent7 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle7" ng-init="listiclearticle.subtitle7 ='<%= story.subtitle7 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent7" ng-init="listiclearticle.subbodycontent7 ='<%= story.subbodycontent7 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'7')" ng-model="listiclearticle.subimage7">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate7)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image7 = '<%= story.subimage7 %>'" ng-class='whatClassIsIt(image7)'></i>
                    </div>
                  </div>
                </div>

                <!-- Subform 8  -->
                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle8 %>','<%= story.subbodycontent8 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle8" ng-init="listiclearticle.subtitle8 ='<%= story.subtitle8 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent8" ng-init="listiclearticle.subbodycontent8 ='<%= story.subbodycontent8 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'8')" ng-model="listiclearticle.subimage8">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate8)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image8 = '<%= story.subimage8 %>'" ng-class='whatClassIsIt(image8)'></i>
                    </div>
                  </div>
                </div>

                <!-- Subform 9  -->
                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle9 %>','<%= story.subbodycontent9 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle9" ng-init="listiclearticle.subtitle9 ='<%= story.subtitle9 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent9" ng-init="listiclearticle.subbodycontent9 ='<%= story.subbodycontent9 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'9')" ng-model="listiclearticle.subimage9">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate9)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image9 = '<%= story.subimage9 %>'" ng-class='whatClassIsIt(image9)'></i>
                    </div>
                  </div>
                </div>
                <!-- Subform 10  -->

                 <div class="field_wrapper_listicle" style="display:none" ng-style="whatngStyle('<%= story.subtitle10 %>','<%= story.subbodycontent10 %>')">
                  <div class="form-border-bot clearfix">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Item Title" ng-model="listiclearticle.subtitle10" ng-init="listiclearticle.subtitle10 ='<%= story.subtitle10 %>'">
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="listiclearticle.subbodycontent10" ng-init="listiclearticle.subbodycontent10 ='<%= story.subbodycontent10 %>'"></textarea>
                    </div>

                    <div class="clearfix attach-image"> 
                      <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="listiclepicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().listicleFileUpload(this.files,'10')" ng-model="listiclearticle.subimage10">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate10)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image10 = '<%= story.subimage10 %>'" ng-class='whatClassIsIt(image10)'></i>
                    </div>
                  </div>
                </div>

                </form>

                <div class="more-link clearfix text-center"> 
                  <a href="javascript:void(0);"  title="More" class="btn btn-squared add_button">
                  <i class="fa fa-plus"></i><span class="hide">More</span></a> 
               </div>

              </div>
            </div>
            
           <%if (story.storystatus == 'In progress') { %>
            <div class="text-right border-top">
             <button class="btn btn-success btn-squared margin-top-10" ng-click="deleteArticle('<%= story.storyid %>')"><!--<i class="fa fa-send margin-right-5" ></i>-->Delete </button>
            </div>
            <% } %>
            <div class="text-right border-top">
              <a href=""  class="btn btn-info btn-squared" ng-click="writerListicleformsubmit()">Save</a> 
              <!--<a href="" class="btn btn-success btn-squared">Next</a>-->
            </div>

            <br>
          </div>
          <!-- End -->
        </div>
      </div>
    </section>
    <!-- Success Message Modal -->

    <div class="modal fade modal-size-small" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header green-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-check"></i> Saved Successfully !</h4>
                </div>
               
            </div>
        </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function()
      {
      	var maxField = 10; //Input fields increment limitation
      	var addButton = $('.add_button'); //Add button selector
      	var wrapper = $('.field_wrapper_listicle'); //Input field wrapper     

        $(addButton).click(function(e){ //Once remove button is clicked
          e.preventDefault();
          var totallength = $(wrapper).length;
          var totalclasslength = $(wrapper).filter(function() { return $(this).css('display') === 'none';}).length;
          var nextcount = (parseInt(totallength) - parseInt(totalclasslength));
          $(".field_wrapper_listicle").each(function(index)
          {
              if(index == nextcount)$(this).css({"display":"block"});
          });         
        });      
        $(wrapper).on('click', '.remove_button', function(e){ //Once remove button is clicked
          e.preventDefault();
          $(this).parent('div').remove(); //Remove field html
          x--; //Decrement field counter
        });     
      });
    </script>
  </body>
</html>