
<!DOCTYPE html>
<html ng-app="unipaperApp">
  <head lang="en">
    <% include innerpagehead.ejs %>
    <script>window.notificationcount= <%= notificationcount %>;</script>

  </head>

  <body ng-controller="unipaperCtrl">

    <% include header.ejs %>
    <section class="page-content">
        <div class="page-content-inner">
            <div class="container">

                <!-- Writer Profile Information -->
                <section class="panel profileInformation">
                    <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                        <img src="<%= profilepictureurl %>" alt="" err-SRC="img/pro-pic.png" />
                    </div>

                    <%if (profileupdatestatus  == 0) { %>
                    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    You have not completed your profile. <br> Update your profile to get started
                    </br></br>
                    <button class="btn btn-primary width-200 margin-top-10" ng-click="showUpdateProfileForm()">Update Profile</button>
                    </div>
                    <% } else { %>
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                        <h3><%= username %>  <%= lastname %></h3>
                        <p> <%= university %> <i class="fa fa-map-marker"></i>  <%= city %></p>
                        <div class="social-links">

                            <%if (facebooklinks != '') { %>
                            <a href="<%= facebooklinks %>" target="_blank"><i class="fa fa-facebook icn-circle"></i></a>
                            <%}%>

                            <%if (twitterlinks != '') { %>

                            <a href="<%= twitterlinks %>" target="_blank"><i class="fa fa-twitter icn-circle"></i></a>
                            <%}%>

                            
                        </div>
                        <a href=""  ng-click="showUpdateProfileForm()" class="btn btn-primary btn-squared">Edit Profile</a>
                    </div>
                    <% } %>

                    </div>
                </section>

                <section class="panel panel-with-borders storiesList">
                    <div class="panel-heading">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-input-icon form-input-icon-right mb15">
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control grey-bg" placeholder="Search your stories" ng-model="searchText" >
                    </div>                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                    <%if (profileupdatestatus  == 0) { %>
                    <a href="" class="btn btn-default btn-squared" ng-click="writeStoryFunc()">Write a story</a>
                     <% } else { %>
                     <a href="" class="btn btn-success btn-squared" ng-click="writeStoryFunc()">Write a story</a>
                     <% } %>
                    </div>
                    </div>

                    </div>

                    <%if (profileupdatestatus  == 0) { %>

                    <div class="panel-body">
                    <br>
                    <p class="text-center txt-msg">You have not completed your profile<br>  <a href="/profileview">Update profile</a> to get started</p>
                    </div>
                    <% } else if(storylistlength == 0) { %>
                      <div class="panel-body">
                    <br>
                    <p class="text-center txt-msg">You haven't written a story yet<br> Click to get started <a href="" ng-click="writeStoryFunc()"> Write a Story</a></p>
                    </div>

                    <% } else { %>


                    <div class="panel-body p0" id="storylistview">
                        <div class="storyList-head">
                            <div class="row">
                                <div class="col-md-10 col-xs-9">Your Story</div>
                                <div class="col-md-2 col-xs-3">Status</div>
                            </div>
                        </div>
                        </a>

                        <div class="story-item" ng-repeat="story in storylists | filter:searchText" ng-bind-html-unsafe="story.title">
                            <a href="" storycategory="{{story.storycategory}}" articlestatus="{{story.storystatus}}"storyid="{{story.storyid}}" storystatus="edit" ng-click="mySelectedArticle($event);" >
                            <div class="row">
                                <div class="col-md-10 col-xs-9">
                                    <h4>{{story.title}}</h4>
                                    <!--<p>{{story.bodycontent | limitTo: 200 }} ...</p>-->
                                    <div ng-bind-html="thisCanBeusedInsideNgBindHtml" ng-init="thisCanBeusedInsideNgBindHtml=story.bodycontent"></div>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <img alt="" src="{{story.storypicture}}">
                                </div>
                            </div>
                           </a>
                        </div>  
                    </div>
                    <% } %>


                </section>            
            </div>
        </div>
    </section>

    <!-- Welcome Message Modal -->

    <div class="modal fade modal-size-small in" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                
                <div class="modal-body">
                   <p>Welcome!<br>Thanks for registering with University Paper.<p>
                    <p>You haven't completed your profile.<br>Update your profile to get started.</p>
                    <a href="/profileview" class="btn btn-squared btn-primary">Update Profile</a> 
                </div>
               
            </div>
        </div>
    </div>

    <modal visible="showModal">
    Any additional data / buttons
    </modal>
           <%if (profileupdatestatus  == 0) { %>

    <script type="text/javascript">
    $(document).ready(function(){
    $("#welcomeModal").modal('show');
    });
    </script>

    <% } %>
  </body>

</html>