
<!DOCTYPE html>
<html ng-app="unipaperApp">

  <head lang="en">
    <% include storyboardpagehead.ejs %>
    <script>window.notificationcount= <%= notificationcount %>;</script>

  </head>


<body ng-controller="unipaperCtrl">

<nav class="top-menu">
    <div class="container">
        <div class="menu">
           <div class="menu-user-block">
         <a class="icon-link pr visible-sxs hide-sm" href="/notification">
         <i class="fa fa-bell" aria-hidden="true"></i>
         <%if (notificationcount > 0) { %> <span class="label pa label-success "><%= notificationcount %></span><% } %>
         <span class="hide">Notifications</span>
         </a>
            <div class="dropdown menu-dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                   <i class="fa fa-bars"></i>
                </a>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="/storyview">Stories </a>
                    <a class="dropdown-item" href="/profileview">Profile</a>
                    <a class="dropdown-item" href="/performance">Performance</a>
                    <a class="dropdown-item pr hide-xs" href="/notification"><i class="fa fa-bell" aria-hidden="true"></i>
                    <%if (notificationcount > 0) { %> <span class="label pa label-success "><%= notificationcount %></span><% } %>
                    <span class="hide">Notifications</span></a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out hide-xs"></i><span class="hide visible-xs">Signout</span></a>
                </ul>
            </div>
        </div>
            <div class="menu-info-block">
                <div class="left">
                 <div class="text-center"><img src="../img/unipaperlogo.png" alt=""></div>
                </div>
               
            </div>
        </div>
    </div>
</nav>

<div class="container">
<div class="wizard">
  <a>Select a story type</a>
  <a class="current"><%= storyWizardTitle %></a>
  <a>Preview and Submit story</a>
  </div>
</div>

<section class="page-content no-padding">
  <div class="page-content-inner">
      <div class="container">
          <!-- Writer Profile Update -->
          <section class="profileUpdate">

          <div class="steps-heading">
              <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
              <h4><%= storyWizardTitle %></h4>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12 text-right">
              <a class="btn btn-success btn-squared" ng-click="storytypeback()" href="">Back</a>
              </div>
              </div>
              <p> Having an issue submitting your story? Email us at <a href="mailto:support@unipaper.co.uk?Subject=UniPaper Writers protal" target="_top">support@unipaper.co.uk.</a> </p>
          </div>

              <div class="row story-img">

                <!-- left column -->
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 upload-image text-center">
                
                      <img ng-src = ../{{picturename}} src="<%= story.storypicture %>"  alt="avatar">
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                      <div class="add-img">
                      <div class="upload-story-image btn">
                        <input name="profilepicturefile" class="" type="file" onchange="angular.element(this).scope().normalStoryboardFileUpload(this.files)">
                       
                       <i class="fa fa-plus"> </i>
                      </div>
                       <!--
                       <button ng-click="uploadFile()" class="btn btn-success btn-squared">Upload</button>
                        -->
                    </div>
                        <imagecropmodal visible="showImageCropModal"> </imagecropmodal>
                    </div>                  
                  </div>
                  <div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                  <div class="conversation-block">   
                    <div class="conversation-item">

                    <%if (story.storystatus == 'Review') { %>

                    <div class="s2">
                    <strong>Editors Note</strong>
                    <p><%= story.note %></p>
                    </div>
                    </div>
                    </div>
                    </br>
                    <% } %>

                      <form class="form-horizontal clearfix" role="form" ng-submit="writerArticleformsubmit()" >

                          <span ng-if="form.state.$dirty && form.state.$  " class="help-block">Updating ...</span>      
                          <input type="hidden" ng-model="writerarticle.storycategory" ng-init="writerarticle.storycategory ='<%= storytype %>'"></input>                               
                          <input type="hidden" ng-model="writerarticle.storyid" ng-init="writerarticle.storyid = '<%= story.storyid %>'">

                           <div class="form-input-icon form-input-icon-right {{writerarticle.titleerr}}">
                              <input type="text" class="form-control" placeholder="Title" ng-model="writerarticle.title" ng-init="writerarticle.title ='<%= story.title %>'">
                          </div>

                           <div class="form-input-icon form-input-icon-right">
                              <input type="text" class="form-control" placeholder="Sub Heading" ng-model="writerarticle.subheading" ng-init="writerarticle.subheading ='<%= story.subheading %>'">
                              <small>Optional</small>
                          </div>                    

                          <div class="form-group">
                            <label class="col-lg-3 control-label"></label>
                            <div class="form-group padding-top-10 margin-bottom-0  {{writerarticle.bodycontenterr}}">     
                              <textarea id="textareaSimpleMDE" name="articlecontent" placeholder="Type and press enter" class="form-control adjustable-textarea" style="overflow: hidden; word-wrap: break-word; resize: none; height: 200px;" ng-model="writerarticle.bodycontent" ></textarea>        
                            </div>
                          </div>                           

                          <div class="form-group">
                          <div class="text-right border-top">
                          <button class="btn btn-info btn-squared">Save </button>
                          </div>
                          </div>
                      </form>


                         <%if (story.storystatus == 'In progress') { %>
                          <div class="text-right border-top">
                           <button class="btn btn-success btn-squared margin-top-10" ng-click="deleteArticle('<%= story.storyid %>')"><!--<i class="fa fa-send margin-right-5" ></i>-->Delete </button>
                          </div>
                          <% } %>
                  </div>
              </div>
            
          </section>                   
          <!-- End -->
      </div>
  </div>
</section>

  
  <script>
 
  </script>
 
</body>
</html> 
