
<!DOCTYPE html>
<html ng-app="unipaperApp">
  <head lang="en">
   <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>The University Paper</title>

<link href="" rel="shortcut icon">

<!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Bootstarp Styles -->
<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/dist/css/bootstrap.min.css">
<!-- Clean UI Styles -->
<link rel="stylesheet" type="text/css" href="../assets/common/css/source/main.css">
<link rel="stylesheet" type="text/css" href="../assets/common/css/source/components/widgets.css">


<!-- Theme Styles -->
<link rel="stylesheet" type="text/css" href="../css/style.css">

<!-- Scripts -->
<script src="../assets/vendors/jquery/jquery.min.js"></script>
<script src="../libs/tether.min.js"></script>
<script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- MarkdownEditor -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<style>
      .btn-upload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .btn-upload input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

      </style>

  

<script type="text/javascript">
$(document).ready(function(){
$("#welcomeModal").modal('show');
});
</script>


<!-- Scripts -->
<script src="//use.typekit.net/iws6ohy.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<!-- Scripts -->
<script type="text/javascript" src="https://cdn.auth0.com/js/lock-9.0.js"></script>

<!-- Auth0's lock widget library -->
<script type="text/javascript" src="https://cdn.auth0.com/js/lock-9.min.js"></script>

<!-- AngularJS core -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

<!-- Angular cookie wrapper library for client cookies -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>

<!-- Angular's Router Library for SPA -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

<!-- Auth0's Angular SDK Library -->
<script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>

<!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
<script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>

<!-- Angular wrapper library for JWT-->
<script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>


<script src="/angular-image-cropper/dist/angular-image-cropper.js"></script>



<script src="../js/custom.js"></script>
<script src="../services/writerservice.js"></script>     
  </head>

  <body ng-controller="unipaperCtrl">

<nav class="top-menu">
    <div class="container">
        <div class="menu">
            <div class="menu-user-block">
                <div class="dropdown menu-dropdown">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                       <i class="fa fa-bars"></i>
                    </a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                        <a class="dropdown-item" href="/storyview">Stories <!--<i class="dropdown-icon fa fa-pie-chart pull-right"></i>--></a>
                        <a class="dropdown-item" href="/profileview">Edit Profile <!--<i class="dropdown-icon fa fa-user pull-right"></i>--></a>
                        <a class="dropdown-item" href="/logout">Sign out <!--<i class="dropdown-icon fa fa-power-off pull-right"></i>--></a>                 
                    </ul>
                </div>
            </div>
            <div class="menu-info-block">
                <div class="left">
                 <div class="text-center"><img src="../img/unipaperlogo.png" alt=""></div>
                </div>
               
            </div>
        </div>
    </div>
</nav>

<div class="container">
<div class="wizard">
  <a><span class="badge">1</span> Select a story type</a>
  <a class="current"><span class="badge badge-inverse">2</span> <%= storyWizardTitle %></a>
  <a><span class="badge">3</span> Preview and Submit story</a>
  </div>
</div>

<section class="page-content">
  <div class="page-content-inner">
      <div class="container">
          <!-- Writer Profile Update -->
          <section class="profileUpdate">

          <div class="steps-heading">
              <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
              <h4><%= storyWizardTitle %></h4>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12 text-right">
              <a class="btn btn-success btn-squared" ng-click="storytypeback()" href="">Back</a>
              </div>
              </div>
          </div>

              <div class="row">

                <!-- left column -->
                  <div class="col-md-4 col-sm-6 col-xs-12 upload-image">
                    <div class="text-center">
                      <img ng-src = ../{{picturename}} src="<%= story.storypicture %>" class="img-thumbnail" alt="avatar">
                      <br><br>
                      <div class="btn-upload btn btn-primary">
                        <input name="profilepicturefile" class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().normalStoryboardFileUpload(this.files)">
                       <span>Upload</span>
                      </div>
                       <!--
                       <button ng-click="uploadFile()" class="btn btn-success btn-squared">Upload</button>
                        -->

                        <imagecropmodal visible="showImageCropModal">
                        </imagecropmodal>

                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">

                  <div class="conversation-block">   
                    <div class="conversation-item">

                    <%if (story.storystatus == 'Review') { %>

                    <div class="s2">
                    <strong>Editors Note</strong>
                    <p><%= story.note %></p>
                    </div>
                    </div>
                    </div>
                    </br>
                    <% } %>

                      <form class="form-horizontal" role="form" ng-submit="writerArticleformsubmit()" >

                          <span ng-if="form.state.$dirty && form.state.$  " class="help-block">Updating ...</span>      
                          <input type="hidden" ng-model="writerarticle.storycategory" ng-init="writerarticle.storycategory ='<%= storytype %>'"></input>                                    
                          <input type="hidden" ng-model="writerarticle.storyid" ng-init="writerarticle.storyid = '<%= story.storyid %>'">

                           <div class="form-input-icon form-input-icon-right {{writerarticle.titleerr}}">
                              <input type="text" class="form-control" placeholder="Title" ng-model="writerarticle.title" ng-init="writerarticle.title ='<%= story.title %>'">
                          </div>

                           <div class="form-input-icon form-input-icon-right">
                              <input type="text" class="form-control" placeholder="Sub Heading" ng-model="writerarticle.subheading" ng-init="writerarticle.subheading ='<%= story.subheading %>'">
                              <small>Optional</small>
                          </div>                    

                          <div class="form-group">
                            <label class="col-lg-3 control-label"></label>
                            <div class="form-group padding-top-10 margin-bottom-0  {{writerarticle.bodycontenterr}}">     
                              <textarea id="bodycontent" name="articlecontent" placeholder="Type and press enter" class="form-control adjustable-textarea" style="overflow: hidden; word-wrap: break-word; resize: none; height: 200px;" ng-model="writerarticle.bodycontent" ></textarea>                         

                            </div>
                          </div>                           

                          <div class="form-group">
                          <div class="col-md-8">
                              <button class="btn btn-success btn-squared"><!--<i class="fa fa-send margin-right-5" ></i>-->Save </button>
                          </div>
                          </div>
                      </form>


                         <%if (story.storystatus == 'In progress') { %>

                          <div class="col-md-8">
                           <button class="btn btn-success btn-squared margin-top-10" ng-click="deleteArticle('<%= story.storyid %>')"><!--<i class="fa fa-send margin-right-5" ></i>-->Delete </button>
                          </div>
                          <% } %>
                  </div>
              </div>
            
          </section>                   
          <!-- End -->
      </div>
  </div>
</section>

  
  <script>
 
  </script>
 
</body>
</html> 
