<!DOCTYPE html>
<html ng-app="unipaperApp">

  <head lang="en">
    <% include storyboardpagehead.ejs %>
    <script>window.notificationcount= <%= notificationcount %>;</script>

  </head>

  <body class="theme-dark" ng-controller="unipaperCtrl" id="storyboardgallery">
    <% include storyboardheader.ejs %>
    <div class="container">
      <div class="wizard"> <a class="visited">Select a story type</a> <a class="current">Write your story</a> <a>Preview and Submit</a> </div>
    </div>

    <section class="page-content no-padding">
      <div class="page-content-inner">
        <div class="container"> 
          <!-- Writer Profile Information -->
          <div class="steps-heading">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <h4>Gallery</h4>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12 text-right"> 
                <a href=""  ng-click="writerGalleryformsubmit()" class="btn btn-info btn-squared">Save</a>
                <!--<a href="" class="btn btn-success btn-squared">Next</a> -->
              </div>
              <p> Having an issue submitting? Email us at <a href="mailto:support@unipaper.co.uk?Subject=UniPaper Writers protal" target="_top">support@unipaper.co.uk</a> </p>
            </div>
          </div>
          <div class="stepsContent-panel write-story">

            <div class="story-img">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> 
                  <img ng-src = ../{{picturename}} src="<%= story.storypicture %>" class="img-thumbnail" alt="avatar">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                  <div class="add-img"> 
                      <a href="#" class="upload-story-image btn" uploadfile><i class="fa fa-plus"></i></a>
                     <input style="display:none"  name="profilepicturefile" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().normalStoryboardFileUpload(this.files)">
                  </div>
                  <imagecropmodal visible="showImageCropModal"></imagecropmodal>

                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <form class="form-horizontal" role="form" ng-submit="writerGalleryformsubmit()" >

                  <input type="hidden" ng-model="galleryarticle.storycategory" ng-init="galleryarticle.storycategory ='<%= storytype %>'"></input>                             
                  <input type="hidden" ng-model="galleryarticle.storyid" ng-init="galleryarticle.storyid = '<%= story.storyid %>'">

                  <div class="form-border-bot clearfix">
                    <div class="form-input-icon form-input-icon-right {{galleryarticle.titleerr}} ">
                      <input type="text" class="form-control" placeholder="Title" ng-model="galleryarticle.title" ng-init="galleryarticle.title ='<%= story.title %>'">
                    </div>

                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Sub Heading" ng-model="galleryarticle.subheading" ng-init="galleryarticle.subheading ='<%= story.subheading %>'">
                    </div>


                    <div class="form-group form-input-icon form-input-icon-right {{writerarticle.titleerr}}">
                      <label class="col-lg-3 control-label"></label>
                      <div class="form-group padding-top-10 margin-bottom-0  {{galleryarticle.bodycontenterr}}">     
                        <textarea id="textareaSimpleMDE" name="articlecontent" placeholder="Type and press enter" class="form-control adjustable-textarea" style="overflow: hidden; word-wrap: break-word; resize: none; height: 200px;" ng-model="galleryarticle.bodycontent" ></textarea>        
                      </div>
                    </div> 
                    
                    <!--
                    <div class="form-group">
                      <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.bodycontent" ng-init="galleryarticle.bodycontent ='<%= story.bodycontent %>'"></textarea>
                    </div>
                    -->

                  </div>

                  <!-- Subform 1  -->
                  <div class="field_wrapper field_wrapper_gallery">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent1" ng-init="galleryarticle.subbodycontent1 ='<%= story.subbodycontent1 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'1')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate1)'></i>
                        <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image1 = '<%= story.subimage1 %>'" ng-class='whatClassIsIt(image1)'></i>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Subform 2  -->
                  <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage2 %>','<%= story.subbodycontent2 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent2" ng-init="galleryarticle.subbodycontent2 ='<%= story.subbodycontent2 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'2')" ng-model="galleryarticle.subimage2">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate2)'></i>
                        <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image2 = '<%= story.subimage2 %>'" ng-class='whatClassIsIt(image2)'></i>
                      </div>
                    </div>
                  </div>

                  <!-- Subform 3  -->
                 <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage3 %>','<%= story.subbodycontent3 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent3" ng-init="galleryarticle.subbodycontent3 ='<%= story.subbodycontent3 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'3')" ng-model="galleryarticle.subimage3">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate3)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image3 = '<%= story.subimage3 %>'" ng-class='whatClassIsIt(image3)'></i>
                      </div>
                    </div>
                  </div>

                  <!-- Subform 4  -->
                 <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage4 %>','<%= story.subbodycontent4 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent4" ng-init="galleryarticle.subbodycontent4 ='<%= story.subbodycontent4 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'4')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate4)'></i>
                        <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image4 = '<%= story.subimage4 %>'" ng-class='whatClassIsIt(image4)'></i>
                      </div>
                    </div>
                  </div>

                  <!-- Subform 5  -->
                  <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage5 %>','<%= story.subbodycontent5 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent5" ng-init="galleryarticle.subbodycontent5 ='<%= story.subbodycontent5 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'5')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate5)'></i>
                      <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image5 = '<%= story.subimage5 %>'" ng-class='whatClassIsIt(image5)'></i>
                      </div>
                    </div>
                  </div>


                  <!-- Subform 6  --> 
                  <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage6 %>','<%= story.subbodycontent6 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent6" ng-init="galleryarticle.subbodycontent6 ='<%= story.subbodycontent6 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'6')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate6)'></i>
                       <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image6 = '<%= story.subimage6 %>'" ng-class='whatClassIsIt(image6)'></i>
                      </div>
                    </div>
                  </div>

                  <!-- Subform 7  -->
                  <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage7 %>','<%= story.subbodycontent7 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent7" ng-init="galleryarticle.subbodycontent7 ='<%= story.subbodycontent7 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'7')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate7)'></i>
                     <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image7 = '<%= story.subimage7 %>'" ng-class='whatClassIsIt(image7)'></i>
                      </div>
                    </div>
                  </div>

                  <!-- Subform 8  -->
                 <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage8 %>','<%= story.subbodycontent8 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent8" ng-init="galleryarticle.subbodycontent8 ='<%= story.subbodycontent8 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'8')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate8)'></i>
                      <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image8 = '<%= story.subimage8 %>'" ng-class='whatClassIsIt(image8)'></i>
                      </div>
                    </div>
                  </div>

                  <!-- Subform 9  -->
                  <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage9 %>','<%= story.subbodycontent9 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent9" ng-init="galleryarticle.subbodycontent9 ='<%= story.subbodycontent9 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'9')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate9)'></i>
                      <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image9 = '<%= story.subimage9 %>'" ng-class='whatClassIsIt(image9)'></i>
                      </div>
                    </div>
                  </div>

                  <!-- Subform 10  -->
                  <div class="field_wrapper field_wrapper_gallery" style="display:none" ng-style="whatngStyle('<%= story.subimage10 %>','<%= story.subbodycontent10 %>')">
                    <div class="form-border-bot clearfix">
                      <div class="form-group">
                        <textarea class="form-control" rows="5"  placeholder="Body Copy" ng-model="galleryarticle.subbodycontent10" ng-init="galleryarticle.subbodycontent10 ='<%= story.subbodycontent10 %>'"></textarea>
                      </div>
                      <div class="clearfix attach-image"> 
                        <a href="javascript:void(0);" class="upload-story-image btn btn-success btn-squared" uploadfile>Attach Image</a>
                       <input name="gallerypicture" style="display:none"  class="text-center center-block well well-sm" type="file" onchange="angular.element(this).scope().galleryFileUpload(this.files,'10')" ng-model="galleryarticle.subimage1">
                       <i aria-hidden="true" class="fa" ng-class='whatClassIsIt_rotate(image_rotate10)'></i>
                        <i class="fa font-size-26 text-middle margin-left-10 " aria-hidden="true" ng-init="image10 = '<%= story.subimage10 %>'" ng-class='whatClassIsIt(image10)'></i>
                      </div>
                    </div>
                  </div>
                </form>

                <div class="more-link clearfix text-center"> 
                  <a href="javascript:void(0);"  title="More" class="btn btn-squared add_button">
                    <i class="fa fa-plus"></i><span class="hide">More</span>
                  </a> 
                </div>
              </div>
            </div>

            
           <%if (story.storystatus == 'In progress') { %>
            <div class="text-right border-top">
             <button class="btn btn-success btn-squared margin-top-10" ng-click="deleteArticle('<%= story.storyid %>')"><!--<i class="fa fa-send margin-right-5" ></i>-->Delete </button>
            </div>
            <% } %>
            <div class="text-right border-top">
              <a href=""  class="btn btn-info btn-squared" ng-click="writerGalleryformsubmit()">Save</a> 
              <!--<a href="" class="btn btn-success btn-squared">Next</a>-->
            </div>
            <!-- End --> 
          </div>
           
      </div>
    </section>
   
    <script type="text/javascript">
        $(document).ready(function()
        {
          var maxField = 10; //Input fields increment limitation
          var addButton = $('.add_button'); //Add button selector
          var wrapper = $('.field_wrapper_gallery'); //Input field wrapper   

          $(addButton).click(function(e){ //Once remove button is clicked
            e.preventDefault();
            var totallength = $(wrapper).length;
            var totalclasslength = $(wrapper).filter(function() { return $(this).css('display') === 'none';}).length;
            var nextcount = (parseInt(totallength) - parseInt(totalclasslength));
            $(".field_wrapper_gallery").each(function(index)
            {
                if(index == nextcount)$(this).css({"display":"block"});
            });         
          });      
          $(wrapper).on('click', '.remove_button', function(e){ //Once remove button is clicked
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
          });     
        });
      </script>
    </body>
</html>