<!DOCTYPE html>
<html ng-app="unipaperApp">
    <head lang="en">
        <% include innerpagehead.ejs %>
              <script>window.notificationcount= <%= notificationcount %>;</script>

    </head>

    <body ng-controller="unipaperCtrl">
        <% include header.ejs %>

<div class="container">
<div class="wizard">
  <a><span class="badge">1</span> Select a story type</a>
  <a><span class="badge">2</span> Write a story</a>
  <a class="current"><span class="badge badge-inverse">3</span> Preview and Submit story</a>
  </div>
</div>
        <section class="page-content no-padding">
            <div class="page-content-inner">
            <div class="container">
            <!-- Writer Profile Information -->

            <div class="steps-heading">
            <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                       <h4>Preview and Submit</h4>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                         <a href="" ng-click="storytypeback('<%= storytype %>')" class="btn btn-default btn-squared">Back</a>
                        <a href="" ng-click="submitArticletoContentful()" class="btn btn-success btn-squared">Submit</a>
                    </div>
                </div>
            </div>

            <div class="stepsContent-panel story-preview">
               <h1><%= story.title %></h1>
                <h2><%= story.subheading %></h2>

                <div class="preview-profile">  
                     
                    <div class="preview-pic">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 prev-pic">
                            <img alt="" src="<%= profilepicture %>" width="50"; height="50">
                            <h3><%= username %> 
                            <span><%- story.createddate %></span></h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 prev-social">
                            <ul class="social-list">
                                <li class="email-icon"><a title="Email" href="#">Email</a></li>
                                <li class="fb-icon"><a title="Facebook" href="#">Facebook</a></li>
                                <li class="twitter-icon"><a title="Twitter" href="#">Twitter</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="prev-bigimg">
                        <%if (story.storypicture != "") { %>
                        <img src="<%= story.storypicture %>" alt="" />
                        <% } %>
                    </div>
                    <div class="comments-description">
                        <p class="firstletter"><%- story.bodycontent %></p>          
                    </div>
                </div>


            </div>

            <div class="text-right border-top">
            <a href="" class="btn btn-squared btn-default" ng-click="storytypeback('<%= storytype %>')">Back</a>
            <a href="" class="btn btn-squared btn-success"  ng-click="submitArticletoContentful()">Submit</a>
        </div><br>
        <!-- End -->
    </div>
</div>

</section>
</body>
</html>