/* Fonts */

@font-face {
    font-family: 'proxima_bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold.woff2') format('woff2'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_light';
    src: url('../proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light.woff2') format('woff2'), url('../fonts/proximanova-light.woff') format('woff'), url('../fonts/proximanova-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_semibold';
    src: url('../fonts/proxima-semibold.eot');
    src: url('../fonts/proxima-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-semibold.woff2') format('woff2'), url('../fonts/proxima-semibold.woff') format('woff'), url('../fonts/proxima-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lubalin_graph_demiregular';
    src: url('../fonts/lubalin_graph_demi_regular-webfont.eot');
    src: url('../fonts/lubalin_graph_demi_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lubalin_graph_demi_regular-webfont.woff2') format('woff2'), url('../fonts/lubalin_graph_demi_regular-webfont.woff') format('woff'), url('../fonts/lubalin_graph_demi_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Default Styles */

.proximabold {
    font-family: proxima_bold;
}
.proximalight {
    font-family: proxima_light;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 18px;
}
.grey-bg {
    background: #fafafa;
}
.green-bg {
    background: #00D054;
}
.img-bg {
    background: #f7f7f7;
    width: 100%;
    margin: 0 0 20px 0;
    height: 140px;
    display: block;
}
.thumb-img {
    height: 70px;
    position: absolute;
    bottom: 0;
}
.mb15 {
    margin-bottom: 15px;
}
.p0 {
    padding: 0 !important;
}
.no-padding {
    padding: 0;
}
.border-top {
    padding-top: 10px;
    border-top: solid 1px #ddd;
}
.btn-pos-btm,
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.link-green {
    color: #46be8a;
}
.link-green.link-underlined {
    border-bottom: 1px solid rgba(70, 190, 138, 0.3);
}
.sep-none {
    border: none !important;
}
/* Login Panel */

.socialLogin-links {
    margin: 20px 0;
}
.socialLogin-links button {
    font-size: 14px;
}
.socialLogin-links i.fa {
    float: left;
    font-size: 20px;
    line-height: 26px;
    vertical-align: middle;
}
.btn.btn-facebook {
    background: #3B5998;
    border: none;
}
.btn.btn-facebook:hover {
    background: #304a7f;
}
.btn.btn-twitter {
    background: #33BDFD;
    border: none;
}
.btn.btn-twitter:hover {
    background: #40b6ed;
}
/* Landing page styles */

.profileInformation {} .profileInformation p {
    padding: 0;
    margin: 0 0 10px 0;
}
.profileInformation i.fa {
    text-align: center;
}
.profileInformation i.fa-map-marker {
    color: #ccc;
}
.social-links {
    margin: 25px 0;
}
.social-links a {
    color: #000;
}
.social-links a:hover .icn-circle {
    background: #2da2d8;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.icn-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    background: #f2f2f2;
    border-radius: 100%;
    margin: 0 5px 0 0;
}
.txt-msg {
    font-size: 16px;
}
.txt-msg a {
    color: #46bc88;
    text-decoration: underline;
}
.txt-msg a:hover {
    color: #000;
}
/* Landing Page Stories */

.storyList-head {
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}
.story-item {
    border-bottom: solid 1px #dfe4ed;
    padding: 20px 0;
}
.story-item h4 {
    font-size: 18px;
    color: #000;
    margin: 0 0 10px 0;
}
.story-item p {
    text-align: justify;
    padding: 0 50px 0 0;
    margin: 0;
    color: #545454;
}
.story-item:last-child {
    border-bottom: none;
}
/* Profile Update */

.profileUpdate .form-input-icon {
    margin: 0 0 15px 0;
}
.profile-img {
    margin: 0 0 20px 0;
}
/* Write Story */

.write-story h4 {
    margin: 10px 0 0 0;
}
.steps-heading {
    padding: 0 0 10px 0;
    border-bottom: solid 1px #ddd;
    margin: 0 0 10px 0;
}
.add-img {
    position: relative;
    margin: 0 0 20px 0;
    vertical-align: bottom;
    display: table-cell;
    height: 208px;
}
.add-img .btn {
    border: none;
    background: #f7f7f7;
    color: #000;
    padding: 20px 30px;
    border-radius: 0;
}
#preview-img {
    width: 100%;
    height: 100%;
}
.story-img {
    margin-bottom: 20px;
}
/* Step Wizard Styles */

.wizard {
    margin: 0 0 10px 0;
    overflow: hidden;
    clear: both;
}
.wizard a {
    padding: 20px 40px 20px;
    width: 33.3%;
    margin-right: 0px;
    background: #efefef;
    position: relative;
    display: inline-block;
    color: #999;
    float: left;
    text-align: center;
    font-size: 16px;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 32px inset transparent;
    border-bottom: 32px inset transparent;
    border-left: 32px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 32px inset transparent;
    border-bottom: 32px inset transparent;
    border-left: 32px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -31px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
    background: rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
    font-size: 14px;
    font-weight: bold;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #33bdfd;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #33bdfd;
}
.wizard .visited {
    background: #5C7282;
    color: #fff;
}
.wizard .visited:after {
    border-left-color: #5C7282;
}
/* Story Preview panel styles */

.story-preview h1 {
    margin: 0;
    padding: 40px 0 50px;
    color: #393939;
    font: normal 32px lubalin_graph_demiregular;
    text-align: center;
    line-height: 45px;
}
.story-preview h2 {
    margin: 0;
    padding: 0 0 70px 0;
    color: #b3b3b3;
    font: normal 22px proxima_light;
    text-align: center;
}
.preview-profile {
    padding: 0 120px;
    padding-bottom: 40px;
}
.prev-pic {
    padding-left: 0;
}
.prev-pic img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
.prev-pic h3 {
    color: #f87979;
    margin: 0;
    line-height: 19px;
    padding: 3px 0 0 0;
}
.prev-pic h3 span {
    color: #929292;
    display: block;
}
.prev-social {
    padding-right: 0;
}
.social-list {
    float: right;
    padding-left: 1rem;
}
.social-list li {
    float: left;
    list-style: none;
}
.social-list li a {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/social.jpg) no-repeat;
    text-indent: -9999px;
}
.social-list li.fb-icon a {
    background-position: -48px 0;
}
.social-list li.twitter-icon a {
    background-position: -96px 0;
}
.social-list li.whatsapp-icon a {
    background-position: -144px 0;
}
.social-list li.comments-counts {
    color: #f54848;
    background: url(../img/counts.png) right center no-repeat;
    padding: 0 35px 0 0;
    min-width: 24px;
    min-height: 26px;
    margin: 13px 20px 0 0;
    font-size: 16px;
    line-height: 21px;
}
.social-list li.comments-counts a {
    color: #f54848;
    text-indent: 0;
    width: auto;
    height: auto;
}
.prev-bigimg {
    padding-top: 15px;
    text-align: center;
}
.comments-description {
    padding: 60px 120px 0;
}
.comments-description p {
    color: #2f2f2f;
    font: normal 22px proxima_light;
    line-height: 30px;
    margin: 0 0 30px 0;
}
.comments-description p.firstletter::first-letter {
    color: #42cbdc;
    font-family: lubalin_graph_demiregular;
    font-size: 32px;
}
.twitter-feeds {
    text-align: center;
    padding: 0 100px 0;
    padding-bottom: 50px;
}
.twitter-feeds h4 {
    color: #2f2f2f;
    font: normal 32px proxima_light;
    border-bottom: #f3f3f3 6px solid;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
}
.bottom-btn {
    border: none;
    border-top: #e5e5e5 1px solid;
}
.profile-pic {
    padding: 10px;
    border: #e0e5ee 1px solid;
}
.profile-pic h2 {
    color: #000;
    font: normal 18px proxima_semibold;
    padding-bottom: 7px;
}
.profile-pic p {
    color: #000;
    font: normal 16px proxima_light;
    line-height: 20px;
    padding-bottom: 7px;
    margin: 0;
}
.profile-pic input {
    background: #1fb2fe;
    color: #fff;
    padding: 10px 35px;
    border: none;
    font: normal 18px proxima_bold;
    border-radius: 3px;
}
.profile-img {
    padding-left: 0;
}
.profile-data {
    padding-right: 0;
}
.story-list {
    border: #e0e5ee 1px solid;
    margin-top: 30px;
    padding: 10px;
}
.landing-page {
    padding: 20px 0;
}
.story-search {
    border-bottom: #e0e5ee 1px solid;
    padding-bottom: 10px;
}
.story-search .inputbox {
    width: 270px;
    background: #f8f8f8;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    color: #000;
    font: normal 16px proxima_light;
    border: #e6e6e6 1px solid;
    padding: 6px 10px;
}
.story-search .search-btn {
    background: #46be8a;
    border-radius: 3px;
    line-height: 40px;
    color: #fff;
    font: normal 16px proxima_bold;
    border: none;
    padding: 10px 30px;
    float: right;
    letter-spacing: 1px;
}
.story-searchlist h3 {
    color: #000;
    font: normal 18px proxima_bold;
    margin: 0;
    padding: 10px 20px 10px;
}
.story-searchlist h3 span {
    float: right;
    padding-right: 30px;
}
.story-searchlist ul li {
    border-top: #e0e5ee 1px solid;
    padding: 20px 0;
}
.story-searchlist ul li:first-child {
    border-top: none;
}
.story-left {
    padding-left: 0;
}
.story-right {
    padding-right: 40px;
    text-align: right;
}
.story-searchlist ul li h4 {
    color: #000;
    font: normal 18px proxima_semibold;
    margin: 0;
    padding: 0 0 10px 0
}
.story-searchlist ul li p {
    color: #000;
    font: normal 14px proxima_light;
    margin: 0;
    line-height: 20px;
}
/* changes 09-09-2016 DS */

nav.top-menu .menu {
    height: 72px;
    padding: 5px 0;
}
.menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item {
    font-family: proxima_semibold;
    color: #000;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
    color: #46be8a;
}
.menu-user-block .label.label-success {
    border-radius: 0;
    top: 12px;
    font-size: 12px;
    left: 20px;
    line-height: 13px;
}
.dropdown-menu .dropdown-item:hover .label.label-success,
.dropdown-menu .dropdown-item.active .label.label-success {
    background: #000;
}
nav.top-menu {
    height: 72px;
}
nav.top-menu + .page-content {
    margin-top: 10px;
    letter-spacing: 0.04em;
}
.profileInformation h3 {
    font-family: proxima_semibold;
}
.notification-lft h2 {
    font-family: proxima_semibold;
    font-size: 22px;
    color: #585858;
    padding: 15px;
}
.notification-date {
    font-family: proxima_light;
    font-size: 14px;
    color: #999;
}
.notification-heading {
    font-family: proxima_semibold;
}
.note-unread .notification-heading {
    color: #8c8b8b;
}
.nav-tabs-vertical .notification-lft .nav-tabs .nav-item .nav-link {
    border: none;
    padding: 15px;
}
.nav-tabs-vertical .notification-lft .nav-tabs .nav-item {
    margin: 0;
    float: none;
    cursor: pointer;
    border-top: 1px solid #dfe4ed;
}
.nav-tabs-vertical .notification-lft .nav-tabs {
    border-right: none;
    float: none;
    margin-right: 0;
}
.nav-tabs-vertical .notification-lft .nav-tabs .nav-item .note-unread {
    background: #fefdfd;
}
.nav-tabs-vertical .notification-lft .nav-tabs .nav-item .nav-link.active,
.nav-tabs-vertical .notification-lft .nav-tabs .nav-item .nav-link:focus {
    background: #e8f7ff;
}
.nav-tabs-vertical .notification-lft .nav-tabs .nav-item .nav-link:hover {
    background: #fbfbfb;
}
.notification-rgt .notification-date {
    color: #000;
    border-bottom: 1px solid #dfe4ed;
    padding: 0 10px 15px;
    margin: 0 0 15px;
}
.notification-rgt h3 {
    margin: 0 10px 10px;
    font-family: proxima_semibold;
}
.notification-content {
    font-family: proxima_light;
    padding: 5px 10px;
}
.notification-content p {
    margin-bottom: 20px;
}
.your-stats-block h2 {
    font-family: proxima_semibold;
    font-size: 22px;
    color: #585858;
}
.your-stats-block .step-block .step-desc .step-title {
    font-family: proxima_semibold;
    font-size: 48px;
}
.your-stats-block .step-block .step-desc p {
    font-size: 22px;
    font-family: proxima_light;
}
.your-stats-block .step-block .step-desc p a {
    font-size: 16px;
    margin: 8px 0 0;
    display: inline-block;
}
.your-stats-block .step-block {
    color: #000;
    line-height: 1;
    border-left: 1px solid #e0e5ee;
    border-radius: 0;
    padding: 25px 20px 0;
    margin: 0 0 20px 0;
}
.border-list {
    list-style: none;
}
.border-list li {
    border-top: 1px solid #dfe4ed;
    padding: 15px 0 0;
}
.border-list li:first-child {
    border-top: none;
}
.views-value,
.earned-amount {
    font-size: 20px;
    font-family: proxima_semibold;
    margin: 22px 0 0 0;
    display: block;
}
.border-list li h4 {
    font-size: 20px;
    font-family: proxima_semibold;
    padding: 0 0 5px;
}
.your-tabhead {
    font-size: 18px;
    font-family: proxima_light;
    padding-bottom: 15px;
    margin: -40px 0 0 0;
}
.your-story-tab .nav-tabs .nav-link {
    font-size: 18px;
    font-family: proxima_semibold;
    color: #000;
    padding: .5em;
    margin: 15px 0 0 15px;
}
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link {
    font-family: proxima_semibold;
    color: #000;
}
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.active,
.nav-tabs-horizontal .nav-tabs .nav-item .nav-link:focus {
    border-bottom-color: #46be8a !important;
    color: #46be8a;
}
.leaderboard-list {
    list-style: none;
}
.leaderboard-list li {
    padding: 18px 0 12px;
    border-top: 1px solid #dfe4ed;
}
.leaderboard-list li:first-child {
    border-top: none;
}
.leaderboard-list li h4,
.leaderboard-list li p {
    font-family: proxima_semibold;
    color: #585858;
    font-size: 16px;
    margin: 4px 0;
}
.leaderboard-list li h4 {
    margin: 10px 0 4px;
}
.leaderboard-list .avatar {
    width: 62px;
    height: 62px;
}
.performance-rgt h3 {
    margin: 0 0 15px;
    color: #585858;
}
.steps-heading h4 {
    margin: 12px 0 0 0;
}
.form-border-bot {
    border-bottom: 1px solid #ddd;
    margin: 0 0 25px;
    padding: 0 0 15px;
}
.more-link {
    margin: 0 0 25px;
}
.more-link .btn,
.remove_button {
    padding: 20px 30px;
    color: #000;
    background-color: #f3f3f3;
    border: none;
}
.remove_button {
    display: inline-block;
    margin: -41px 0 0 0;
    padding: 8px 16px;
}
.more-link .btn:hover,
.remove_button {
    background-color: #ddd;
    color: #333;
}
.label.label-notes {
    background: #fcfcfc;
    padding: 10px 12px;
    white-space: normal;
    line-height: 20px;
    max-height: 250px;
    overflow-y: auto;
}
.write-story .label-notes h4 {
    margin: 0 0 6px;
}
.listicle-preivew-list,
.gallery-preview-list {
    list-style: none;
}
.listicle-preivew-list h3 {
    font-size: 24px;
    color: #393939;
    padding: 0 15px;
    font: normal 24px lubalin_graph_demiregular;
    line-height: 1.4;
}
.listicle-preivew-list p,
.gallery-preview-list p {
    color: #393939;
    font: normal 22px proxima_light;
    margin: 20px 0 0 0;
    line-height: 1.4;
}
.listicle-preivew-list li {
    margin: 45px 0 0 0;
}
.gallery-preview-list > li {
    margin: 0 0 45px 0;
}
.gallery-preview-list .social-list {
    padding-top: 26px;
}
.gallery-preview-list > li:last-child {
    margin: 0;
}
.menu-dropdown a.dropdown-toggle {
    background: none;
    width: 35px;
    height: 35px;
}
.menu-dropdown a.dropdown-toggle i.fa {
    line-height: 35px;
}
.menu-dropdown a.dropdown-toggle:hover i.fa {
    color: #0c84cc;
}
.upload-story-image {
    position: relative;
    overflow: hidden;
    margin: 10px 0 15px;
}
.upload-story-image input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.views-value:before,
.earned-amount:before {
    display: none;
}
/* Responsive Styles */

@media (max-width: 1199px) {
    .wizard a {
        width: 33%;
    }
}
@media (max-width: 992px) {
    .wizard a {
        width: 100%;
        margin: 0 0 2px 0;
    }
    .wizard a:before,
    .wizard a:after {
        border: none;
    }
    .wizard .badge {
        margin: 0 5px 0 0;
    }
    .comments-description,
    .preview-profile {
        padding: 0;
    }
    .add-img {
        height: 156px;
    }
    .page-content {
        padding: 12px;
    }
}
@media (min-width: 768px) {
    .menu-user-block .menu-dropdown a.dropdown-toggle {
        display: none;
    }
    .menu-user-block .dropdown.menu-dropdown ul.dropdown-menu {
        display: block;
        position: static;
        background: none;
    }
    .menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item {
        display: inline-block;
        width: auto;
        font-size: 20px;
        line-height: 24px;
        padding: 18px 6px;
        border-bottom: 4px solid rgba(0, 0, 0, 0);
        margin: 0 7px;
        letter-spacing: 0.04em;
    }
    .menu-user-block .dropdown.menu-dropdown ul.dropdown-menu:before {
        display: none;
    }
    .menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item:hover,
    .menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item.active {
        background: none !important;
        color: #46be8a;
        border-bottom-color: #46be8a;
    }
    .menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item.icon-link:hover,
    .menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item.icon-link {
        border-bottom: none;
    }
    .hide-sm {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .padding-xs {
        padding-left: 0.5375rem;
        padding-right: 0.5375rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
    .story-item p {
        padding: 0 10px 0 0;
    }
    .profile-img {
        max-width: 50%;
        margin: 20px auto;
        display: block;
    }
    .wizard a {
        width: 100%;
    }
    .dropdown.menu-dropdown ul.dropdown-menu {
        background: #fff;
        border: 1px solid #dfe4ed;
        padding: 0;
    }
    .dropdown.menu-dropdown .dropdown-menu .dropdown-item {
        border-top: 1px solid #dfe4ed;
    }
    .dropdown.menu-dropdown ul.dropdown-menu a:nth-of-type(1) {
        border-top: none;
    }
    .menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item {
        font-family: proximanova-regular;
        color: #8d8d8d;
        font-weight: normal;
        font-size: 16px;
    }
    .menu-user-block .dropdown.menu-dropdown .dropdown-menu .dropdown-item:hover,
    .dropdown-menu .dropdown-item.active {
        color: #fff !important;
        background: #33b0ff !important;
    }
    .dropdown.menu-dropdown ul.dropdown-menu:before {
        border-bottom: 10px solid #dfe4ed
    }
    .dropdown-menu {
        top: 100%;
    }
    .hide-xs {
        display: none !important;
    }
    .visible-xs {
        display: block !important;
    }
    .visible-sxs {
        display: inline-block !important;
    }
    .menu-user-block .label.label-success {
        top: -1px;
        font-size: 12px;
        left: 14px;
        padding: 2px 5px;
    }
    .icon-link {
        font-size: 21px;
        color: #514d6d;
        margin-right: 16px;
    }
    .icon-link:hover {
        color: #46be8a;
    }
    .your-stats-block .step-block {
        margin: 0 0 12px;
        padding: 15px 8px 0;
    }
    .your-stats-block .step-block .step-desc .step-title {
        font-size: 36px;
    }
    .your-stats-block .step-block .step-desc p {
        font-size: 16px;
    }
    .your-stats-block .step-block .step-desc p a {
        margin: 2px 0 0 0;
        font-size: 14px;
    }
    .panel {
        padding: 10px;
    }
    .panel.padding-0 {
        padding: 0;
    }
    .step-block {
        margin-bottom: 15px !important;
    }
    .your-story-tab .nav-tabs .nav-link {
        font-size: 14px;
        margin: 7px 0 0 7px;
    }
    .your-tabhead {
        font-size: 14px;
        margin: -30px 0 0;
        padding-bottom: 12px;
    }
    .border-list li h4 {
        font-size: 16px;
    }
    .border-list li p {
        font-size: 13px;
    }
    .border-list li {
        padding: 8px 0 0;
    }
    .views-value,
    .earned-amount {
        font-size: 16px;
        margin: 20px 0 0;
    }
    .nav-tabs-vertical .notification-lft .nav-tabs .nav-item .nav-link {
        padding: 5px;
        font-size: 12px;
    }
    .notification-date {
        font-size: 12px;
    }
    .notification-lft h2 {
        font-size: 18px;
        padding: 10px;
    }
    .notification-rgt .notification-date {
        margin: 0 0 10px;
        padding: 0 5px 10px;
    }
    .notification-rgt h3 {
        margin: 0 0 5px;
    }
    .notification-content {
        padding: 0 5px;
    }
    .notification-content p {
        font-size: 13px;
        margin-bottom: 15px;
    }
}
@media (max-width: 544px) {
    .your-tabhead {
        display: none;
    }
    .page-content {
        padding: 8px;
    }
    .your-tabhead {
        margin: 10px 0 0;
        padding-bottom: 0;
    }
    .your-stats-block .step-block {
        border-left: none;
        border-top: 1px solid #e0e5ee;
    }
    .add-img {
        height: 85px;
        vertical-align: middle;
    }
    .story-preview h1 {
        font: 22px/28px lubalin_graph_demiregular;
        padding: 15px 0;
    }
    .story-preview h2 {
        font-size: 18px;
        padding: 0 0 30px;
    }
    .social-list li a {
        background-size: auto 32px;
        width: 32px;
        height: 32px;
    }
    .social-list li.fb-icon a {
        background-position: -32px 0;
    }
    .social-list li.twitter-icon a {
        background-position: -64px 0;
    }
    .social-list li.whatsapp-icon a {
        background-position: -96px;
    }
    .listicle-preivew-list h3 {
        font-size: 16px;
        padding: 0;
    }
    .listicle-preivew-list p,
    .gallery-preview-list p {
        font-size: 15px;
        margin: 10px 0 0 0;
    }
    .listicle-preivew-list li {
        margin: 15px 0 0 0;
    }
    .steps-heading h4 {
        margin: 6px 0;
    }
    .gallery-preview-list > li {
        margin: 0 0 15px 0;
    }
    .gallery-preview-list .social-list {
        padding: 5px 0;
    }
    .social-list li.comments-counts {
        margin: 5px 20px 0 0;
    }
    .views-value:before,
    .earned-amount:before {
        display: inline-block;
        content: attr(data-title)':';
        font-family: proxima_light;
        text-align: right;
        margin-right: 5px;
    }
    .views-value {
        margin: 0;
        font-size: 14px;
    }
    .earned-amount {
        margin: 0 0 8px;
        font-size: 14px;
    }
}
@media (max-width: 319px) {
    .performance-lft .nav-tabs-horizontal .nav-tabs .nav-item,
    .performance-rgt .nav-tabs-horizontal .nav-tabs .nav-item {
        width: 100%;
        margin: 0;
    }
    .nav-tabs-horizontal .nav-tabs .nav-item .nav-link {
        border-bottom: 3px solid #eee;
    }
}