
<div class="single-page-block-inner loginPanel" >

<div id="hiw-login-container"></div>


	<!--<div class="text-center"><img src="img/unipaperlogo.png" alt=""></div>
	<div class="socialLogin-links">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<button type="button" class="btn btn-success btn-facebook btn-block" ng-click="register('facebook')">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					Login with Facebook
				</button>
			</div>
			<div class="col-md-6 col-sm-12">
				<button type="button" class="btn btn-success btn-twitter btn-block" ng-click="register('twitter')">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					Login with Twitter
				</button>
			</div>
		</div>
	</div>

	<form method="post" ng-submit="submitLoginForm()">

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address" ng-model="loginform.email">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="loginform.password">
        </div> 

        <div class="form-group">
            <a href="#" data-toggle="modal" data-target="#resetPassword">Forgot Password?</a>             
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <a href="" class="btn btn-primary btn-squared btn-block btn-lg" ng-click="submitLoginForm()">Sign in</a>
                </div>
                <div class="col-md-6">If you are not a registered user <a href="" ng-click="signupform()">Sign up</a></div>
            </div>
        </div>    
    </form> -->
</div>