<div class="single-page-block-inner loginPanel">

    <div class="text-center"><img src="img/unipaperlogo.png" alt=""></div>
    <br>

	<form class="form-register" method="post" ng-submit="submitSignupForm()" name="userForm">

    	<div class="form-group">
        	<input type="text" class="form-control" placeholder="Email" ng-model="signinform.email" required>
        </div>

        <div class="form-group">
        	<input type="password" class="form-control" placeholder="Password" ng-model="signinform.password" required>
        </div>

     	<div class="form-group">
        	<input type="password" class="form-control" placeholder="Retype Password" ng-model="signinform.repassword" required>
        </div>
           
        <div class="form-actions">
        	<div class="row">
                <div class="col-md-6">
					<a href="" class="btn btn-primary btn-block btn-lg btn-squared" ng-click="submitSignupForm()">Sign up</a>
                </div>
                <div class="col-md-6">If you are a registered user <a href="" ng-click="loginform()">sign in</div>
            </div>
        </div>
	</form>
</div>