@import url(helpers/fonts.css);
@import url(helpers/typography.css);
@import url(helpers/base.default.css);
@import url(helpers/base.responsive.css);
@import url(themes/theme-dark.css);
@import url(forms/basic-form-elements.css);
@import url(forms/buttons.css);
@import url(forms/dropdowns.css);
@import url(forms/checkboxes-radio.css);
@import url(forms/form-validation.css);
@import url(forms/selectboxes.css);
@import url(components/utilities.css);
@import url(components/tables.css);
@import url(components/steps.css);
@import url(components/tooltips-popovers.css);
@import url(components/modal.css);
@import url(components/badges-labels.css);
@import url(components/pagination.css);
@import url(components/collapse.css);
@import url(components/tabs.css);
@import url(components/notifications-alerts.css);
@import url(components/carousel.css);
@import url(components/widgets.css);
@import url(vendors/jscrollpane.css);
@import url(vendors/select2.css);
@import url(vendors/datatables-fixedcolumns.css);
@import url(vendors/datatables-responsive.css);

@font-face {
	font-family: 'proximanova-regular';
	src: url('../../fonts/proximanova-regular-webfont.eot');
	src: local('☺'), url('../../fonts/proximanova-regular-webfont.woff') format('woff'), url('../../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../../fonts/proximanova-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Menu Dropdown styles */

.menu-dropdown a.dropdown-toggle{
	 background:#f5f5f5;
	height:40px;
	width:40px;
	text-align: center;
	vertical-align: middle;
	display: block;
	margin:9px 0 0 0;
}
.menu-dropdown a.dropdown-toggle i.fa {
    font-size: 24px !important;
    color:rgba(0,0,0,0.3);
   line-height:40px;
}
.dropdown.menu-dropdown ul.dropdown-menu{
	background:#f9f9f9;
	border:none;
	border-radius: none;
	padding:0;
}
.dropdown.menu-dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #f9f9f9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown.menu-dropdown .dropdown-menu .dropdown-item{
	    padding: 10px 15px;
	    line-height: 18px;
}

.dropdown.menu-dropdown .dropdown-menu .dropdown-item:hover{
	background: #1fb2fe;
	color:#fff;
}
/* Bootstrap Modal Styles */

.modal-content{
	border-radius:0;
}
.modal-header{
	background:#f7f7f7;
}
h4.modal-title{
	text-shadow:none;
	font-size:18px;
	font-weight:400;
	color:#000;
}
