@font-face {
    font-family: 'proxima_regular';
    src: url('../fonts/Proxima-Regular.eot');
    src: url('../fonts/Proxima-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Regular.woff2') format('woff2'),
         url('../fonts/Proxima-Regular.woff') format('woff'),
         url('../fonts/Proxima-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_bold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff2') format('woff2'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_light';
    src: url('../proximanova-light.eot');
    src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light.woff2') format('woff2'),
         url('../fonts/proximanova-light.woff') format('woff'),
         url('../fonts/proximanova-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_semibold';
    src: url('../fonts/proxima-semibold.eot');
    src: url('../fonts/proxima-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-semibold.woff2') format('woff2'),
         url('../fonts/proxima-semibold.woff') format('woff'),
         url('../fonts/proxima-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lubalin_graph_demiregular';
    src: url('../fonts/lubalin_graph_demi_regular-webfont.eot');
    src: url('../fonts/lubalin_graph_demi_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubalin_graph_demi_regular-webfont.woff2') format('woff2'),
         url('../fonts/lubalin_graph_demi_regular-webfont.woff') format('woff'),
         url('../fonts/lubalin_graph_demi_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
 font:normal 12px proxima_regular;
 color:#000;
}
a:focus{
	outline:none;
}
img{
	max-width:100%;
	height:auto;
}
.preview-btn span{
	font:normal 22px proxima_bold;
	color:#000;
	display:inline-block;
	padding-top:12px;
	padding-left:20px;
}
.preview-btn{
	border-bottom:#e5e5e5 1px solid;
	padding:15px 0;
}
.preview-btn input{
	float:right;
	background:#46be8a;
	color:#fff;
	font:normal 18px proxima_bold;
	padding:12px 50px;
	border:none;
	border-radius:3px;
}
.preview-btn input.back{
	background:#acb7bf;
	padding:12px 40px;
	margin-right:20px;
}
.preview-page h1{
	margin:0;
	padding:50px 0;
	color:#393939;
	font:normal 35px lubalin_graph_demiregular;
	text-align:center;
	line-height:45px;
}
.preview-page h2{
	margin:0;
	padding:0 0 70px 0;
	color:#b3b3b3;
	font:normal 22px proxima_light;
	text-align:center;
}
.preview-profile{
	padding:0 120px;
	padding-bottom:40px;
}
.prev-pic{
	padding-left:0;
}
.prev-pic img{
	float:left;
	border-radius:50%;
	margin-right:20px;
}
.prev-pic h3{
	font:normal 16px proxima_regular;
	color:#f87979;
	margin:0;
	line-height:19px;
	padding:3px 0 0 0;
}
.prev-pic h3 span{
	color:#929292;
	display:block;
}
.prev-social{
	padding-right:0;
}
.social-list{
	float:right;
}
.social-list li{
	float:left;
	list-style:none;
}
.social-list li a{
	display:block;
	width:48px;
	height:48px;
	background:url(../images/social.jpg) no-repeat;
	text-indent:-9999px;
}
.social-list li.fb-icon a{
	background-position:-48px 0;
}
.social-list li.twitter-icon a{
	background-position:-96px 0;
}
.social-list li.whatsapp-icon a{
	background-position:-144px 0;
}
.social-list li.comments-counts{
	color:#f54848;
	background:url(../images/counts.png) right center no-repeat;
	padding:0 35px 0 0;
	min-width:24px;
	min-height:26px;
	margin:13px 20px 0 0;
	font-size:16px;
	line-height:21px;
}
.social-list li.comments-counts a{
	color:#f54848;
	text-indent:0;
	width:auto;
	height:auto;
}
.prev-bigimg {
	padding-top:15px;
	text-align:center;
}
.comments-description{
	padding:60px 120px 0;
}
.comments-description p{
	color:#2f2f2f;
	font:normal 22px proxima_light;
	line-height:30px;
	margin:0 0 30px 0;
}
.comments-description p.firstletter::first-letter{
	color:#42cbdc;
	font-family:lubalin_graph_demiregular;
	font-size:32px;
}
.twitter-feeds{
	text-align:center;
	padding:0 100px 0;
	padding-bottom:50px;
}
.twitter-feeds h4{
	color:#2f2f2f;
	font:normal 32px proxima_light;
	border-bottom:#f3f3f3 6px solid;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
}
.bottom-btn{
	border:none;
	border-top:#e5e5e5 1px solid;
}
.profile-pic{
	padding:10px;
	border:#e0e5ee 1px solid;
}
.profile-pic h2{
		color:#000;
		font:normal 18px proxima_semibold;
		padding-bottom:7px;
}
.profile-pic p{
		color:#000;
		font:normal 16px proxima_light;
		line-height:20px;
		padding-bottom:7px;
		margin:0;
}
.profile-pic input{
	background:#1fb2fe;
	color:#fff;
	padding:10px 35px;
	border:none;
	font:normal 18px proxima_bold;
	border-radius:3px;
}
.profile-img{
	padding-left:0;
}
.profile-data{
	padding-right:0;
}
.story-list{
	border:#e0e5ee 1px solid;
	margin-top:30px;
	padding:10px;	
}
.landing-page{
	padding:20px 0;
}
.story-search{
	border-bottom:#e0e5ee 1px solid;
	padding-bottom:10px;
}
.story-search .inputbox{
	width:270px;
	background:#f8f8f8;
	border-radius:8px;
	height:40px;
	line-height:40px;
	color:#000;
	font:normal 16px proxima_light;
	border:#e6e6e6 1px solid;
	padding:6px 10px;
}
.story-search .search-btn{	
	background:#46be8a;
	border-radius:3px;	
	line-height:40px;
	color:#fff;
	font:normal 16px proxima_bold;
	border:none;
	padding:10px 30px;
	float:right;
	letter-spacing:1px;
}
.story-searchlist h3{
	color:#000;
	font:normal 18px proxima_bold;
	margin:0;
	padding:10px 20px 10px;
}
.story-searchlist h3 span{
	float:right;
	padding-right:30px;
}
.story-searchlist ul li{
	border-top:#e0e5ee 1px solid;
	padding:20px 0;
}
.story-searchlist ul li:first-child{
	border-top:none;
}
.story-left{
	padding-left:0;
}
.story-right{
	padding-right:40px;
	text-align:right;
}
.story-searchlist ul li h4{
	color:#000;
	font:normal 18px proxima_semibold;
	margin:0;
	padding:0 0 10px 0
}
.story-searchlist ul li p{
	color:#000;
	font:normal 14px proxima_light;
	margin:0;
	line-height:20px;
}

/*desktopend*/
@media(max-width:1199px){
	.comments-description,.twitter-feeds{
		padding-left:50px;
		padding-right:50px;
	}
	
}/*1199end*/
@media(max-width:991px){
	.preview-profile{
		padding-left:30px;
		padding-right:30px;
	}
	
}/*767end*/
@media(max-width:767px){
	.preview-btn span{
		display:block;
		padding:0 0 15px 0;
	}
	.preview-btn{
		text-align:center;
	}
	.preview-btn input{
		float:none;
		display:inline-block;
		padding:12px 40px;
	}
	.preview-btn input.back{
		margin:0 0 0 10px;
	}
	.preview-page h1{
		font-size:18px;
		padding:30px 0;
		line-height:25px;
	}
	.preview-page h2 br,.preview-page h1 br{
		display:none;
	}
	.preview-page h2{
		font-size:18px;
		padding-bottom:40px;
	}
	.preview-profile{
		padding:0;
	}
	.prev-social{
		padding:15px 0 0 0;
	}
	.comments-description, .twitter-feeds{
		padding:20px 0;
	}
	.comments-description p{
		font-size:16px;
		line-height:22px;
		margin-bottom:20px;
	}
	.twitter-feeds h4{
		font-size:20px;
	}
	.story-searchlist h3 span{
		padding-right:0;
	}
	.story-right{
		padding-right:10px;
	}
	.story-search .inputbox,.story-search .search-btn{
		width:100%;
	}
	.story-search .search-btn{
		margin-top:10px;
	}
	
}/*767end*/

@media(max-width:480px){
	
}






/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
.clearfix {
	:
} 
html[xmlns] .clearfix {
	display: block;
} 
* html .clearfix {
	height: 1%;
}