/*
 * MODAL
 */
.modal .modal-content {
    border: none;
}

.modal .close {
    outline: none !important;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.modal .close span {
    position: relative;
    top: 3px;
}

.modal.modal-size-small .modal-dialog {
    max-width: 400px;
    width: auto;
    margin-top:10%;
}
.modal.modal-size-small .modal-body{
background:#f7f7f7;
font-size:16px;
padding:30px;
}
@media (max-width: 543px) {
    .modal.modal-size-small .modal-dialog {
        max-width: none;
    }
}

.modal.modal-size-large .modal-dialog {
    max-width: 980px;
    width: auto;
}

.modal-backdrop {
    background: #24222f;
}

.modal-backdrop.in {
    opacity: .3;
}
