/*
 * WIDGETS
 */
.widget {
    background: #ffffff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    border: 1px solid #dfe4ed;
}

.widget .widget-header {
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
}

.widget .widget-body {
    display: block;
    -webkit-border-radius: 0px 5px 5px 0px;
            border-radius: 0px 5px 5px 0px;
}

.widget .label {
    font-size: 85%;
}

@media (max-width: 767px) {
    .widget {
        margin-bottom: 15px;
    }
}

@media (max-width: 543px) {
    .widget {
        margin-bottom: 10px;
    }
}

.widget > .table {
    margin-bottom: 0px;
}

.widget > .table thead th {
    border-top: none !important;
}

.widget > .table thead th:first-child {
    -webkit-border-radius: 5px 0px 0px 0px;
            border-radius: 5px 0px 0px 0px;
}

.widget > .table thead th:last-child {
    -webkit-border-radius: 0px 5px 0px 0px;
            border-radius: 0px 5px 0px 0px;
}

.widget-one .widget-header {
    min-height: 100px;
    background-size: cover;
    padding: 40px;
    background-color: #dfe4ed;
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
}

.widget-one .widget-body {
    padding: 40px 25px 40px;
}

.widget-one .widget-body .s1 {
    float: left;
    margin-top: -75px;
}

.widget-one .widget-body .s2 {
    margin-left: 130px;
}

.widget-one .widget-body .avatar {
    height: 70px;
    width: 70px;
    padding: 5px;
    background: #ffffff;
}

.widget-one .widget-body .avatar img {
    -webkit-border-radius: 100%;
            border-radius: 100%;
}

.widget-one .widget-body .widget-info {
    margin-bottom: 10px;
}

.widget-two .widget-header {
    padding: 20px 25px;
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #eceff4;
}

.widget-two .widget-body {
    padding: 25px;
}

.widget-three {
    padding: 25px;
}

.widget-four {
    border: none;
}

@media (max-width: 991px) {
    .widget-four {
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {
    .widget-four .step-block {
        margin-bottom: 15px !important;
    }
}

@media (max-width: 543px) {
    .widget-four .step-block {
        margin-bottom: 10px !important;
    }
}

.widget-five .widget-header {
    padding: 20px 25px;
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #eceff4;
}

.widget-five .table thead th {
    border-top: none;
}

.widget-six .widget-header {
    padding: 20px 25px;
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #eceff4;
}

.widget-six .widget-body .chart {
    padding: 10px 10px 5px 0px;
}

.widget-six .chart-css-animations {
    -webkit-border-radius: 0px 0px 5px 5px;
            border-radius: 0px 0px 5px 5px;
}

.widget-seven {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden;
    background-size: cover;
}

.widget-seven .widget-body {
    padding: 25px;
    height: 142px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden;
}

.widget-seven .widget-body h1, .widget-seven .widget-body h2, .widget-seven .widget-body h3, .widget-seven .widget-body h4, .widget-seven .widget-body h5, .widget-seven .widget-body h6,
.widget-seven .widget-body .h1, .widget-seven .widget-body .h2, .widget-seven .widget-body .h3, .widget-seven .widget-body .h4, .widget-seven .widget-body .h5, .widget-seven .widget-body .h6 {
    color: inherit;
    margin-bottom: 10px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}

.widget-seven .widget-body .widget-body-icon {
    display: inline-block;
    font-size: 80px;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    right: -25px;
    opacity: .4;
}

.widget-seven .widget-body .widget-body-inner {
    position: relative;
    z-index: 2;
}

.widget-seven.background-primary, .widget-seven.background-secondary, .widget-seven.background-default, .widget-seven.background-info, .widget-seven.background-danger, .widget-seven.background-warning, .widget-seven.background-info, .widget-seven.background-success {
    color: #ffffff;
}

.widget-seven.background-primary a, .widget-seven.background-secondary a, .widget-seven.background-default a, .widget-seven.background-info a, .widget-seven.background-danger a, .widget-seven.background-warning a, .widget-seven.background-info a, .widget-seven.background-success a {
    color: #ffffff;
}

.widget-seven .carousel-item {
    overflow: hidden;
}

/*
 * WIDGETS GLOBAL
 */
.mode-superclean .widget {
    border: none;
}

.conversation-block {
    overflow: auto;
}

.conversation-block .conversation-item {
    padding: 10px 0px;
}

.conversation-block .conversation-item:first-child {
    padding-top: 0px;
}

.conversation-block .conversation-item:last-child {
    padding-bottom: 0px;
}

.conversation-block .conversation-item .s1 {
    float: left;
}

.conversation-block .conversation-item .s1 .avatar {
    width: 50px;
    height: 50px;
}

.conversation-block .conversation-item .s2 {
    padding: 10px 15px 1px;
    background: #f2f4f8;
    margin-left: 70px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: relative;
}

.conversation-block .conversation-item .s2:after {
    position: absolute;
    top: 22px;
    left: -14px;
    width: 0px;
    height: 0px;
    display: block;
    content: '';
    border: 7px solid transparent;
    border-right-color: #f2f4f8;
}

.conversation-block .conversation-item.you .s1 {
    float: right;
}

.conversation-block .conversation-item.you .s2 {
    margin-left: 0px;
    margin-right: 70px;
}

.conversation-block .conversation-item.you .s2:after {
    left: auto;
    right: -14px;
    border: 7px solid transparent;
    border-left-color: #f2f4f8;
}

.user-wall .user-wall-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe4ed;
}

.user-wall .user-wall-item:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.user-wall .user-wall-item .s1 {
    float: left;
}

.user-wall .user-wall-item .s1 .avatar {
    width: 50px;
    height: 50px;
}

.user-wall .user-wall-item .s2 {
    margin-left: 70px;
}

.user-wall .user-wall-item .user-wall-item-head {
    margin-bottom: 10px;
}

.user-wall .user-wall-item .user-wall-item-head strong {
    display: block;
}

.user-wall .user-wall-comments {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #dfe4ed;
}

.user-wall .user-wall-comments .user-wall-item:last-child {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.user-wall .user-wall-posting {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dfe4ed;
}

@media (max-width: 992px) {
    .user-wall .user-wall-item .s1 {
        float: none;
        margin-bottom: 5px;
    }
    .user-wall .user-wall-item .s2 {
        margin-left: 0px;
    }
}
